<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilos_pagina.css')}}"/>
  
</head>
<body>
   
        <!-- Herer  Encabezado MOUNIR-->
        <!-- Karlen -->
    <header>
        <div class="headerLeft">
            <img class="img_Logo" src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png" alt="Imagen de carta ">   
        </div>
        
        <h1 class="titulo1">BENVINGUTS</h1>

        <div class="headerRight">
            <a href="/">INICI</a>
            <a href="/lista_paciente">Listat de pacients</a>
            <a href="/registrar">Registrar nou pacient</a>
        </div>         
       
    </header>
    <hr >
    <!-- contenido de MAIN  karlen-->
    
    <main>
       <center> <section class="s_main_index">
            <article class="a_main">
                      <h1>Benvingut a DAWCAI, l'aplicació de registre de pacients en cures</h1>
                      
                      <p class="p1">-Per obtenir un llistat dels pacients en cures,accedeix a <br><i> Llistat de pacients.</i></p>
                      <p class="p1">-Per afegir un nou pacient al registre, accedeix a <br><i> Registrar nou pacient.</i></p>

                      <p class="p2">-Actualmente hi ha un total de <b> {{numPacient}}</b> en el registre.</p>

            </article>
        </section>
    </center>
    </main>

    <!-- <footer>ADAW ETPXAVIER 2022</footer> -->
</body>
</html>