<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  <body>
    <!-- Herer  Encabezado -->
    <header>
      <div class="headerLeft">
        <img
          class="img_Logo"
          src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png"
          alt="Imagen de carta "
        />

      </div>

      <h1 class="titulo1">REGISTRAR PACIENT</h1>

      <div class="headerRight">
        <a href="/">INICI</a>
        <a href="/lista_paciente">Llistat de pacients</a>
        <a href="/registrar">Registrar nou pacient</a>
      </div>
    </header>
    <hr />

    <!-- contenido de MAIN  -->

    <main>
      <section class="s_main_registrar">
        <h2>REGISTRE DE NOU PACIENT</h2>

        <form action="/recibirDatosPaciente" method="POST">`

<!-- Primera parte del form -->
<div class="form" id="part1">
  <div class="div_caja1">
    <label form="nom">NOM: <input type="text" id="nom" name="nom" /> </label><br>
    <label>EDAT: <input type="number"  name="edat"/> </label><br>
    <label>SEXE: <input type="text"  name="sexe"/> </label><br>
    <label>LLOC DE NAIXEMENT: <input type="text" name="LLoc_naixement" /> </label><br>
    <label>LLOC DE RESIDÈNCIA: <input type="text"  name="Lloc_residencia"/> </label><br>
  </div>

  <div class="div_caja2">
    <label>FAMILIA D'ORIGEN: PARE <input type="text"  name="familia_origen_pare"/> </label><br>
    <label>FAMILIA D'ORIGEN: MARE <input type="text"  name="familia_origen_mare"/> </label><br>
    <label>FAMILIA D'ORIGEN: GERMANS <input type="text" name="familia_origen_germans" /> </label><br>
    <label>ROL QUE OCUPA <input type="text" name="rol_ocupa" /> </label><br>
    <label>MEMBRE QUE LA INTEGREN <input type="text"  name="membres_integren"/> </label><br>
  </div>
</div>

<!-- Parte 1.1 del form -->
<div class="form" id="part1_1">
  <div class="div_caja1">
    <label>TEMPS DE RESIDÈNCIA <input type="number" name="temps_residencia" /> </label><br>
    <label
      >PRENS MEDICAMENTS A CASA
      <input type="radio"  name="pren_medicaments_casa" required /> SI
      <input type="radio"  name="pren_medicaments_casa" required /> NO
    </label><br>
    <label>QUINS <input type="text" name="quins_medicaments" /> </label><br>
  </div>

  <div class="div_caja2">
    <label>PROBLEMAS DE SALUT <input type="text" name="problema_salut_actual"/> </label><br>
    <label
      >FAMILIA DE PROCREACIÓ
      <input type="radio" name="familia_procreacio" required /> SI
      <input type="radio" name="familia_procreacio" required /> NO
    </label><br>
  </div>
</div>

<!-- Segunda parte del form -->
<div class="form" id="part2">
  <div class="div_caja1">
    <label>RITME <input type="text" name="ritme" /></label><br />
    <label>FREQÜENCIA R <input type="number" name="frequencia_r"/></label><br />
    <label>AMPLITUD: <input type="text" name="amplitud" /></label><br />
    <label>
      RESPIRACIÓ: 
      <input type="radio"  name="tipus_respiracio" required /> BUCAL
      <input type="radio"  name="tipus_respiracio" required /> NASAL </label
    ><br />
    <label>ORIFICIS NASALS PERMEABLES <input type="text"  name="orifisis_nasals_permeables"/></label
    ><br />
  </div>

  <div class="div_caja2">
    <label>FREQÜENCIA CARDIACA <input type="number" name="frequencia_cardiaca" /> </label
    ><br />
    <label>PA. <input type="number" name="pa." /> </label><br />
    <label>COLORACIÓ: MUCOSES: <input type="text" name="coloracio_mucoses " /> </label><br />
    <label id="pell">PELL: <input type="text" name="coloracio_pell" /> </label><br />
    <label
      > RESPIRACIÓ: <br> 
    </label>
      <label for="res">
        <input type="radio" name="respiracio" id="res" required /> SILENCIOSA
      </label>
      <label for="res2">
        <input type="radio" name="respiracio" id="res2" required /> SOROLLOSA
      </label>
  </div>
</div>


<!-- 2.1 parte del form -->
<div class="form" id="part2_1">
  <div class="div_caja1">
    <label
      >TOS: <input type="radio" name="tos" required /> SI
      <input type="radio" name="tos" required /> NO </label
    ><br />

    <label>DESCRIPCIÓ <input type="text" name="tos_descripcio" /> </label><br />
    <label>MUCOSITAT <input type="text"  name="mucositat"/> </label><br />
    <label>DESCRIPCIÓ <input type="text" name="mucositat_descripcio" /> </label><br />

    <label
      >EXPECTORACIÓ
      <input type="radio" name="expectoracio" required /> SI
      <input type="radio" name="expectoracio" required /> NO
    </label>
  </div>

  <div class="div_caja2">
    <label>ALTRES MANIFESTACIONS <input type="text" name="altres_manifestacions"/> </label
    ><br />

    <label
      >HI HA SITUACIONS QUE INFLUENCIEN LA SEVA RESPIRACIÓ: <br>
      <input type="radio" name="situacions_influencien_respiracio" required /> SI
      <input type="radio" name="situacions_influencien_respiracio" required /> NO </label
    ><br />

    <label>QUINES &nbsp;<textarea name="quines_influencien"></textarea></label><br />
    <label
      >MITJANS QUE UTILITZAN PER RESPIRAR MILLOR &nbsp;<textarea
       name="mitja_utilitza_respirar_millor"></textarea></label
    ><br />

    <label
      >FUMA <input type="radio" name="fuma" required /> SI
      <input type="radio" name="fuma" required /> NO </label
    ><br />

    <label>CIGARS DIA <input type="number" name="cigars_dia"/> </label>
  </div>
</div>

<!-- Tercera Parte -->

<div class="form" id="part3">
  <div class="div_caja1">
      <label>PES <input type="number" name="pes"> </label><br>
      <label>TALLA <input type="text" name="talla"> </label><br>
      <label>CAVITAT BUCAL: <br>  
        a) DENTS EN Nº SUFICIENT PER REALITZAR BÉ LA SEVA FUNCIÓ: 
      <input type="number" name="numero_dents_realitzar_funcio"> </label><br>
      <label id="b">b) PROTESIS DENTAL: 
          <input type="radio" name="protesi_dental" required> PARCIAL
          <input type="radio" name="protesi_dental" required> TOTAL
      </label><br>
      
      <label>MASTICACIÓ:  
          <input type="radio" name="masticacio" required> LENTA
          <input type="radio" name="masticacio" required> RÀPIDA
      </label>
  </div>

  <div class="div_caja2">
      <label>LA DEGLUCIÓ. CARACTERÍSTIQUES: <input type="text" name="caracteriques_deglucio"></textarea></label><br><br>
      <label>ALIMENTS I LIQUITS QUE PREN HABITUALMENT I QUANTITAT/DIA </label><br>
      <label>ESMORZAR <input type="text" name="esmorzar"> </label><br>
      <label>DINAR <input type="text" name="dinar"> </label><br>
  </div>
</div>

<!-- 3.1 Parte -->
<div class="form" id="part3_1">
  <div class="div_caja1">
      <label>BERENAR <input type="text" name="berenar"> </label><br>
      <label>SOPAR <input type="text" name="sopar"> </label><br>
      <label>ALTRES &nbsp;<textarea name="altres"></textarea></label><br><br>
      <label>HABITUALMENT QUINA SENSACIÓ TÉ <br> RESPECTE AL MENJAR &nbsp;<textarea name="sensacio_habitual_respecte_menjar"></textarea> </label><br><br>
      <label>ALIMENTS SÒLITS O LIQUIDS QUE NO LI AGRADEN, INTOLERA O TÉ ALGUNA RESTRICCIÓ &nbsp;<textarea></textarea> </label>
  </div>

  <div class="div_caja2">
      <label for="">HABITUALMENT MENJA:
          <input type="radio" name="habitualment_menja" required> A CASA <br>
          <input type="radio" name="habitualment_menja" required> A LA FEINA
          <input type="radio" name="habitualment_menja" required> A UN RESTAURANT <br>
          <input type="radio" name="habitualment_menja" required> SOL
          <input type="radio" name="habitualment_menja" required> ACOMPANYAT
      </label><br>
      <label>HI HA SITUACIONS QUE INFLUENCIEN ELS SEUS HABITS ALIMENTARIS
          <input type="radio"  name="situacions_influencien_habits_alimentalis" required> SI
          <input type="radio"  name="situacions_influencien_habits_alimentalis" required> NO
      </label><br>
      <label>QUINES &nbsp;<textarea name="quines_situacions"></textarea> </label><br><br>
      <label>MITJANS QUE UTILITZA PER MILLORAR-LOS &nbsp;<textarea name="mitjans_utilitza_millorar"></textarea> </label><br>
      <label>ALTRES MANIFESTACIONS &nbsp;<textarea name="altres_manifestacions"></textarea> </label><br>
  </div>
  <br>
</div>


<!-- Quarta Parte -->
<div class="form" id="part4">
  <div class="div_caja1">
      <table class="table_multi">

          <tr>
        
            <td>PATRÓ HABITUAL</td>
        
            <td>FREQÜENCIA</td>
        
            <td>QUANTITAT</td>

            <td>ASPECTE</td>
        
          </tr>
        
          <tr>
        
              <td>ORINA</td>
          
              <td><input type="text" name="frequencia_orina"></td>
          
              <td><input type="text" name="quantitat_orina"></td>

              <td><input type="text" name="aspecte_orina"></td>
          
          </tr>

          <tr>
        
              <td>PEMTES</td>
          
              <td><input type="text" name="frequencia_femtes"></td>
          
              <td><input type="text" name="quantitat_femtes"></td>

              <td><input type="text" name="aspecte_femtes"></td>
          
          </tr>
          
          <tr>
        
              <td>SUOR</td>
          
              <td>
                  <input type="radio" name="frequencia_suor" required> SI
                  <input type="radio" name="frequencia_suor" required> NO
              </td>
          
              <td><input type="text" name="quantitat_suor"></td>

              <td>OLOR<input type="text" name="aspecte_suor"></td>
          
          </tr>

          <tr>
        
              <td>REGLA</td>

              <td>
                  <input type="radio" name="frequencia_regla" required> SI
                  <input type="radio" name="frequencia_regla" required> NO
              </td>
               <td></td>
               <td></td>
          </tr>
      </table> <br><br>
  </div> 
</div>

<!-- 4_1 Parte -->
<div class="form" id="part4_1">
  <div class="div_caja1">
      <label>HIA HA SITUACIONS QUE INFLUENCIEN ELS <br> SEUS HÀBITS D'ELIMINACIÓ:  <br>
          <input type="radio" name="situacions_influencien_habits_eliminacio" required> SI
          <input type="radio" name="situacions_influencien_habits_eliminacio" required> NO
      </label> <br>
      <label>QUINES<textarea name="quines_influencien"></textarea></label><br>      
  </div>

  <div class="div_caja2">

    <label>MITJANS QUE UTILITZA PER ELIMINAR MILLOR<textarea name="mitjans_utilitzar_eliminar_millor"></textarea> </label><br>
    <label>ALTRES MANIFESTACIONS<textarea name="altres_manifestacions"></textarea> </label><br>
  </div>
  
</div>

<!-- Quinta -->
<div class="form" id="part5">
  <div class="div_caja1">
      <label>POT MOURE TOTES LES PART DEL COS <br>
          <input type="radio" class="pmpc" name="pot_moure_totes_parts_cos" required /> SI
          <input type="radio" class="pmpc" name="pot_moure_totes_parts_cos" required /> NO
        </label><br>
        <label> QUINES &nbsp; <textarea name="quines_parts"></textarea></label><br>
        <label> PER QUÈ &nbsp; <textarea name="perque_pot_moure"></textarea></label><br>
        <label>ÉS: 
          <input type="radio" class="es" name="es" required /> DRETÀ
          <input type="radio" class="es" name="es" required /> ESQUERRÀ
        </label><br>
       <label> POSTURA HABITUAL <input type="text" name="postura_habitual"> </label><br>
  </div>

  <div class="div_caja2">
      <label> ACTIVITATS FÍSIQUES &nbsp; <textarea name="activitats_fisiques"></textarea> </label><br>
      <label> HI HA SITUACIONS QUE INTERFEREIXEN LA SEVA MOBILITAT: <br>
          <input type="radio" class="sim" name="situacions_interfereixen_mobilitat" required> SÍ
          <input type="radio" class="sim" name="situacions_interfereixen_mobilitat" required> NO
      </label><br>
      <label> QUINES &nbsp; <textarea name="quines_situacions_interfreixen_mobilitat"></textarea> </label><br>
      <label> MITJANS QUE UTILITZA PER MOURE'S MILLOR Y MANTENIR  UNA  <br> POSTURA ADEQUADA &nbsp; <textarea name="mitjans_utilitza_moure_millor_mantenir_postura_adequada"></textarea> </label><br>
      <label> ALTRES MANIFESTACIONS &nbsp; <textarea name="altres_manifestacions"></textarea> </label>
  </div>

</div>


<!--  sexta parte -->
<div class="form" id="part6">
  <!-- En bases de datos hay campos que soplan (Revisar bases de datos)  -->
  <div id="div_caja1">
    <label for="">HORES QUE DORM HABITUALMENT
        <input type="text" name="hores_dorm">
    </label>
    <br>
    <label for="">
        MIDIGADA:
        <input type="radio" name="migdia" required>
        SI
        <input type="radio" name="migdia" required>
        NO
    </label>
    <br>
    <label for="a_quantitat_son">
      QUALITAT DEL SON:  
      <br>
        <input type="radio" name="qualitat_son"  required>a) TRQBQUIL
        <input type="radio" name="qualitat_son"  required>b) MAL SONS
        <input type="radio" name="qualitat_son"  required>c) INTERRUPCIONS
        
      </label>
</div>
  

<!-- caja2 -->
<div class="div_caja2">
   
    <label for="">
        HI HA SITUACIONS QUE <br>INFLUENCIEN LA SEVA SON: 
        <input type="radio" name="situacions_influencien_son" required>
        SI
        <input type="radio" name="situacions_influencien_son" required>
        NO
        <br>
        QUINES &nbsp;
        <textarea name="quienes_situacions_influencien_son"></textarea>
      </label>
<br>
         </div>

</div>

<!-- septima parte -->
<div class="form" id="part7">
  
  <div class="div_caja1">
    
    <label> SIGNIFICAT DE LA ROBA</label>
    <br>
    <textarea name="significat_roba"></textarea>
    <br>
    <label> TIPUS DE ROPA &nbsp;
        <textarea name="tipus_roba"></textarea>
    </label>
    <br>
    <label> CAPACITAT DE VESTIR-SE Y DESVESTIR-SE
        <br>
        <br>
        <input type="radio" name="capacitat_vestir_desvestir" required> SÍ
        <input type="radio" name="capacitat_vestir_desvestir" required> NO
        <br>
        <br>
    </label>
    <label> HI HA SITUACIONS QUE INFLUENCIEN LA SEVA VESTIMENTA
        <br>
        <input type="radio" name="situacions_influencien_vestimenta" required> SÍ
        <input type="radio" name="situacions_influencien_vestimenta" required> NO
        <br>
    </label>
    <label>QUINES SITUACIONS
      <br>
      <textarea name="quines_situacions_influencien_vestimenta"></textarea>
    </label>
</div>
<div class="div_caja2">
    <label>MITJANS PER MILLORAR LA SATISFACCIÓ DE <br> VESTIR-SE Y DESVESTIR-SE: &nbsp;
        <textarea name="mitjans_millorar_satisfaccio_vestir_desvestir"></textarea>
    </label>
    <br>
    <br>
    <label>ALTRES MANIFESTACIONS &nbsp;
        <textarea name="altres_manifestacions"></textarea>
    </label>
    <br>
</div>

</div>

<!-- Octava parte-->
<div class="form" id="part8">
  <div class="div_caja1">
  <label for="TEMP_PELL">
    TEMPERATURA DE LA PELL:
    <input type="text" name="" id="TEMP_PELL" name="temperatura_pell">
</label>
<br>
<label for="TEMP_AUXXILAR">
    TEMPERATURA AXILAR:
    <input type="text" name="" id="TEMP_AUXXILAR" name="temperatura_axilar">
</label>
<br>
<label>
    NORMALMENT COM ES SENT RESPECTE A LA TEMPERATURA AMBIENT:
    <textarea name="com_sent_temperatura_ambient"></textarea>
</label>
<br>
<br>
</div>

<!-- caja2  -->
<div class="div_caja2">
  <label for="">HI HA SITUACIONS QUE INFLUENCIEN LA TERMOREGULACIÓ:
      <br>
      <input type="radio" name="situacions_influencien_termoregulacio" required>
      SI
      <input type="radio" name="situacions_influencien_termoregulacio" required>
      NO
      <br>
      QUINES &nbsp;
      <textarea name="quines_situacions_influencien_termoregulacio"></textarea>
  </label><br>

  <label>ALTES MANIFESTACIONS:
    <textarea name="altres_manifestacions"></textarea>
  </label>
  <br>
  
<label>MITJANS QUE UTILITZA PER MANTENIR LA TEMPERATURA:
    <textarea name="mitjans_utilitza_mantenir_temperatura"></textarea>
</label>
<br><br><br>
</div>
  
</div>
<!-- Novena parte -->
<div class="form" id="part9">
  <div class="div_caja1">
  <label> CONDICIONS HIGIÈNIQUES DE PELL Y MUCOSAS &nbsp; <textarea name="condicions_higeniques_pell_mucoses"></textarea> </label><br>
        <label> CONDICIONS PELL Y MUCOSA. <br> DESCRIPCIÓ: &nbsp; <textarea name="descripcio_condicions_pell_mucosa"></textarea> </label><br>
        <label> HÀBITS D'HIGIENE CORPORAL &nbsp; <textarea name="habits_higene_corporal"></textarea> </label><br>
        <label> HÀBITS D'HIGIENE BUCAL &nbsp; <textarea name="habits_higene_bucal"></textarea> </label><br>
        </div>
        
        <div class="div_caja2">
        <label>HI HA SITUACIONS QUE INFLUENCIEN LA SEVA HIGIENE
            <input type="radio" name="situacions_influencien_higene" required> SÍ
            <input type="radio" name="situacions_influencien_higene" required> NO
        </label><br>
        <label> QUINES &nbsp; <textarea name="quines_situacions_influencien_higene"></textarea> </label><br>
        <label> MITJANS QUE UTILITZA PER MILLORAR LA SEVA HIGIENE &nbsp; <textarea name="mijans_utilitza_millorar_higene"></textarea> </label><br>
        <label> ALTRES MANIFESTACIONS &nbsp; <textarea name="altres_manifestacions"></textarea> </label><br>
          <br><br>  
      </div>   
</div>
<!-- Decima primera parte -->
<div class="form" id="part10">
  <div class="div_caja1">
    <label for="">CONEIX MIDES DE PREVENCIÓ:
     <textarea name="coneix_mides_prevencio" ></textarea>
 </label> <br>
<!-- Mirar la base de datos, revisar si hay que poner más cosas en html o DB -->
 <label >SALUBRITAT DEL MEDI:
     <input type="text" name="salubritat_habitat_1"><br> 
     HÀBITAT 
     <input type="text"><br>
     LLOC DE TREBALL <textarea name="" id=""></textarea> 
     <!-- Revisar base de datos, no esta creada una columna para este dato -->
 </label>

 </div>
 
 <!-- caja2  -->
 <div class="div_caja2">
  <label for="">HI HA SITUACIONS O CIRCUMSTÀNCIES QUE <br> INFLUENCIEN LA SEVA SEGURETAT FÍSICA, PSICOLÒGICA, SOCIAL:
    <br>
    <input type="radio" name="situacions_circumstancies_seguretat_fisica_psicologica_social" required>
    SI
    <input type="radio" name="situacions_circumstancies_seguretat_fisica_psicologica_social" required>
    NO
    <br>
    QUINES &nbsp;
    <textarea name="quines_situacions_seguretat_fisica_psicologica_social"></textarea>
</label><br>  
  <label >MITJANS QUE UTILITZA DE PROTECCIÓ: 
    <textarea name="mitjans_utilitza_proteccio"></textarea>
</label><br>

<label >ALTRES MANIFESTACIONS: 
    <textarea name="altres_manifestacio"></textarea>
</label>
 </div>
</div>
<!-- Decimo Primera primera parte -->
 <div class="form" id="part11">
  <div class="div_caja1">
    <label>ESTAT DE CONSCIENCIA: <input type="text" name="estat_consciencia"/> </label><br>
    <label>ORIENTACIÓ TEMPS-ESPAI: <input type="text" name="orientacio_temps_espai" /> </label><br>
    <label>ESTATS SENSORIALS: <input type="text" name="estat_sesorials" /> </label><br>
    <label>EXPRESSIÓ VERBAL: <input type="text" name="expressio_verbal" /> </label><br>
    <label>EXPRESSIÓ NO VERBAL(Descripció): <input type="text" name="descripccio_expressio_no_verbal" /> </label><br>
  </div>

  <div class="div_caja2">
    <label>HI HA SITUACIONS QUE INFLENCIEN LA <br> SEVA COMUNICACIÓ:
          <input type="radio" name="situacions_influencien_comunicacio" required /> SI
          <input type="radio" name="situacions_influencien_comunicacio" required /> NO
    </label><br>
    <label>QUINES <input type="text" name="quines_situacions_influencien_comunicacio" /> </label><br>
    <label>MITJANS QUE LI FACILITEN LA COMUNICACIÓ: <input type="text" name="mitjans_faciliten_comunicacio" /> </label><br>
    <label>ALTRES MANIFESTACIONS: <input type="text" name="altres_maniestacions" /> </label><br>
  </div>
</div>

<!-- Decima Segunda parte del form -->
<div class="form" id="part12">
  <div class="div_caja1">
    <label>QUINES SON LES SEVES CREENCES I VALORS PRIORITARIS: <input type="number" name="quines_creences_valors"/> </label><br>
    <label>MITJANS QUE UTILITZA PER VIURE D'ACORD AMB LES SEVES CREENCES I VALORS: <input type="text" name="mitjans_utilitza_viure_creences_valors" /> </label><br>
    <label>ALTRES MANIFESTACIONS: <input type="text" name="altres_manifestacions" /> </label><br>
  </div>
</div>

<!-- Decima Tercera parte del form -->
<div class="form" id="part13">
  <div class="div_caja1">
    <label>ROL FAMILIAR: <input type="text" name="rol_familiar" /> </label><br>
    <label>ROL SOCIAL: <input type="text" name="rol_social" /> </label><br>
    <label>TIPUS D'OCUPACIÓ: <input type="text" name="tipus_ocupacio" /> </label><br>
    <label>HI HAN SITUACIONS QUE INFLUENCIEN SOBRE EL DESENVOLUPAMENT DEL ROL SOCIAL I FAMILIAR: <input type="text" name="situacions_desenvolupacio_rol_social_familiar"/> </label><br>
    <!-- Aqui falta otro input -->
    <label>ALTRES MANIFESTACIONS: <input type="text" name="altres_manifestacions"/> </label><br>
  </div>
</div>

<!-- Decima Quarta parte del form -->
<div class="form" id="part14">
  <div class="div_caja1">
    <label>HABITS DE DIVERSIÓ I DISTRACCIÓ: <input type="text" /> </label><br> <!-- FALTA ESTE APARTADO EN LA BASE DE DATOS -->
    <label>ESPORT: <input type="text" name="habits_esport" /> </label><br>
    <label>MÚSICA: <input type="text" name="habits_musica" /> </label><br>
    <label>LECTURA: <input type="text" name="habits_lectura" /> </label><br>
    <label>AUDIOVISUALS: <input type="text" name="habits_audiovisual" /> </label><br>
  </div>

  <div class="div_caja2">
    <label>ALTRES: <input type="text" name="habits_altres" /> </label><br>
    <label>HI HA SITUACIONS QUE INFLENCIEN LA SEVA COMUNICACIÓ:
      <input type="radio" name="if" required name="situacions_influencien_interes_esbargir" /> SI
      <input type="radio" name="if" required name="situacions_influencien_interes_esbargir" /> NO
    </label><br>
    <label>QUINES: <input type="text" name="quines_situacions_influencien_interes_esbargir"/> </label><br>
    <label>MITJANS QUE UTILITZA PER MILLORAR LA SEVA REALITZACIÓ: <input type="text" name="mitjans_utilitza_millorar_realitzacio"/> </label><br>
    <label>ALTRES MANIFESTACIONS: <input type="text" name="altres_manifestacions"/> </label><br>
  </div>
</div>

<!-- Decima Quinta parte del form -->
<div class="form" id="part15">
  <div class="div_caja1">
    <label>TE INTERÈS PER A CONEIXER EL PROCÉS DE LA SEVA SALUT:
      <input type="radio" name="interes_coneixer_proces_salut" required /> SI
      <input type="radio" name="interes_coneixer_proces_salut" required /> NO
    </label><br>
    <label>PERQUE: <input type="text"  name="perque_interes_coneixer_proces_salut"> </label><br>
    <label>HI HA SITUACIONS QUE LI DIFICULTEN L'APRENENTATGE: <input type="text" name="situacions_dificulten_aprenentatge"/> </label><br>
  </div>

  <div class="div_caja2">
    <label>MITJANS QUE UTILITZA PER APRENDRE: <input type="text" name="mitjans_utilitza_aprendre"/> </label><br>
    <label>ALTRES MANIFESTACIONS: <input type="text"  name="altres_manifestacions"/> </label><br>
  </div>
</div>
      
<input
  type="submit"
  name="registrar"
  value="Registrar
              pacient"
  id="botonRegistrar"
/>
        </form>


        <button onclick="pasarForm1()" id="button1">Següent</button>
        <button onclick="pasarForm1_1()" class="buton_oculta" id="button2">Següent</button>
        <button onclick="pasarForm2()" class="buton_oculta"   id="button3">Següent</button>
        <button onclick="pasarForm2_1()" class="buton_oculta" id="button4">Següent</button>
        <button onclick="pasarForm3()" class="buton_oculta"   id="button5">Següent</button>
        <button onclick="pasarForm3_1()" class="buton_oculta" id="button6">Següent</button>
        <button onclick="pasarForm4()" class="buton_oculta"   id="button7">Següent</button>
        <button onclick="pasarForm4_1()" class="buton_oculta" id="button7_1">Següent</button>
        <button onclick="pasarForm5()" class="buton_oculta"   id="button8">Següent</button> 
        <button onclick="pasarForm6()" class="buton_oculta"   id="button9">Següent</button> 
        <button onclick="pasarForm7()" class="buton_oculta"   id="button10">Següent</button>
        <button onclick="pasarForm8()" class="buton_oculta"   id="button11">Següent</button> 
        <button onclick="pasarForm9()" class="buton_oculta"   id="button12">Següent</button>
        <button onclick="pasarForm10()" class="buton_oculta"  id="button13">Següent</button>
        <button onclick="pasarForm11()" class="buton_oculta"  id="button14">Següent</button>
        <button onclick="pasarForm12()" class="buton_oculta"  id="button15">Següent</button>
        <button onclick="pasarForm13()" class="buton_oculta"  id="button16">Següent</button>
        
      </section>
    </main>

    <!-- <footer>ADAW ETPXAVIER 2022</footer> -->
  </body>
  <script src="{{url_for('static',filename='multistep_form.js')}}"></script>
</html>
