<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inici</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  <body>
    <!--El header esta dividido en 3 partes: menu, titulo y logo-->
    <header>
      <!-- LOGO DE LA APP-->
      <div id="logo">
        <!-- <img
          src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png"
          alt="Imagen de logo"
          width="90px"
        /> -->
        <img src="{{url_for('static',filename='enfermeros.jpg')}}" 
          alt="Imagen de logo"
          width="150px">
      </div>

      <!-- TITULO DE LA PAGINA-->
      <div class="titulo">
        <h1>INICI</h1>
      </div>
      <!--Menu Hmaburguesa-->
      <span id="caja-menu">
        <div class="container-menu" id="menu" onclick="abrirMenu()">
          <div id="bar1" class="bar1"></div>
          <div id="bar2" class="bar2"></div>
          <div id="bar3" class="bar3"></div>
        </div>
      </span>

      <!-- Overlay cuando el menu esta activado-->
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <div id="tapa-caja"></div>
          <div id="caja-pastilla">
            <div class="pastilla" onclick="inicio()">
              <div id="tapa-pastilla-start"><h3>INI</h3></div>
              <div id="tapa-pastilla-end"><h3>CI</h3></div>
            </div>
            <div class="pastilla" onclick="registrar()">
              <div id="tapa-pastilla-start"><h3>REGIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TRAR</h3></div>
            </div>
            <div class="pastilla" onclick="listarPacientes()">
              <div id="tapa-pastilla-start"><h3>LLIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TAR</h3></div>
            </div>
            <div class="pastilla">
              <div id="tapa-pastilla-start"><h3>VALOR</h3></div>
              <div id="tapa-pastilla-end"><h3>ACIÓ</h3></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div id="text" class="text">
          <p><h1>Benvingut a TELÈSFOR, l'aplicació de registre de pacients en cures</h1></p>
          <p id="descripcion">Actualment hi ha un total de <b> {{ data }} pacients</b> en el
            registre.</p>
            <button class="button-registro" id="button-registro" onclick="registrar()">Registrar</button>
        </div>
        <div id="image">
          <img src="/static/medica.png" alt="Medica" width="480px">
        </div>
      </div>
    </main>

    <footer>
      <div class="logo-footer">
        <img src="{{url_for('static',filename='enfermeros.jpg')}}" 
        alt="Imagen de logo"
        width="50px">
        <h2>CAI PROYECTOS</h2>
      </div>
      <div class="footer-container">
        <div>
          <div class="iconos">
            <img src="{{url_for('static',filename='telefone.png')}}" 
            alt="Telefono"
            class="icono-telefono">
            <h4>+34 933 19 17 00</h4>
          </div>
          <div class="iconos">
            <img src="{{url_for('static',filename='email.png')}}" 
            alt="Email"
            class="icono-email">
            <h4>pregunta@epx.fjaverianas.com</h4>
          </div>
        </div>
        <div class="footer-descripcion">
          <h3>Sobre el Proyecto</h3>
          <p>Nuestro objetivo es ayudar los pacientes alta lo más pronto posible. </br> Por eso, creamos una pagina para controlar la salud y bien estar de nuestros pacientes.</p>
        </div>
    </div>
    </footer>

    <script src="/static/menu.js"></script>
  </body>
</html>
