<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  <body>
    <!--El header esta dividido en 3 partes: menu, titulo y logo-->
    <header>
      <!-- LOGO DE LA APP-->
      <div id="logo">
        <img
          src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png"
          alt="Imagen de logo"
          width="90px"
        />
      </div>

      <!-- TITULO DE LA PAGINA-->
      <div class="titulo">
        <h1>INICI</h1>
      </div>
      <!--Menu Hmaburguesa-->
      <span id="caja-menu">
        <div class="container-menu" id="menu" onclick="abrirMenu()">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </span>

      <!-- Overlay cuando el menu esta activado-->
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <div id="tapa-caja"></div>
          <div id="caja-pastilla">
            <div class="pastilla">
              <button class="button" onclick="listaPaciente()" >LISTA DE PACIENTES</button>
              <div id="tapa-pastilla"></div>
            </div>
            <div class="pastilla">
              <button class="button">PACIENTE</button>
              <div id="tapa-pastilla"></div>
            </div>
            <div class="pastilla">
              <button class="button">VALORACION</button>
              <div id="tapa-pastilla"></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div id="text">
        <p><h1>Benvingut a DAWCAI, l'aplicació de registre de pacients en cures</h1></p>
        <p id="descripcion">Actualmente hi ha un total de <b> {{ data }}</b> en el
          registre.</p>
          <button class="button-registro" id="button-registro" onclick="registrar()">Registrar</button>
      </div>
      <div id="image">
        <img src="/static/medica.png" alt="Medica" width="480px">
      </div>
    </main>

    <script src="/static/funciones.js"></script>
    <script src="/static/menu.js"></script>
  </body>
</html>
