<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  <body>
    <header>
      <!-- LOGO DE LA APP-->
      <div id="logo">
        <img
          src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png"
          alt="Imagen de logo"
          width="90px"
        />
      </div>

      <!-- TITULO DE LA PAGINA-->
      <div class="titulo">
        <h1>ERROR</h1>
      </div>
      <!--Menu Hmaburguesa-->
      <span id="caja-menu">
        <div class="container-menu" id="menu" onclick="abrirMenu()">
          <div id="bar1" class="bar1"></div>
          <div id="bar2" class="bar2"></div>
          <div id="bar3" class="bar3"></div>
        </div>
      </span>

      <!-- Overlay cuando el menu esta activado-->
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <div id="tapa-caja"></div>
          <div id="caja-pastilla">
            <div class="pastilla" onclick="inicio()">
              <div id="tapa-pastilla-start"><h3>INI</h3></div>
              <div id="tapa-pastilla-end"><h3>CI</h3></div>
            </div>
            <div class="pastilla" onclick="registrar()">
              <div id="tapa-pastilla-start"><h3>REGIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TRAR</h3></div>
            </div>
            <div class="pastilla" onclick="listarPaciente()">
              <div id="tapa-pastilla-start"><h3>LLIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TAR</h3></div>
            </div>
            <div class="pastilla">
              <div id="tapa-pastilla-start"><h3>VALOR</h3></div>
              <div id="tapa-pastilla-end"><h3>ACIÓ</h3></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- contenido de MAIN  -->

    <main>
      <section class="s_main_error">
        <h1 class="h1_pagina_error">El registre no ha sigut possible</h1>
      </section>
    </main>

    <footer>
      <p>ADAW ETPXAVIER 2022</p>
    </footer>

    <script src="/static/funciones.js"></script>
  </body>
</html>
