<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registre</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  <body>
    <header>
      <!-- LOGO DE LA APP-->
      <div id="logo">
        <img
          src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png"
          alt="Imagen de logo"
          width="90px"
        />
      </div>

      <!-- TITULO DE LA PAGINA-->
      <div class="titulo">
        <h1>REGISTRE</h1>
      </div>
      <!--Menu Hmaburguesa-->
      <span id="caja-menu">
        <div class="container-menu" id="menu" onclick="abrirMenu()">
          <div id="bar1" class="bar1"></div>
          <div id="bar2" class="bar2"></div>
          <div id="bar3" class="bar3"></div>
        </div>
      </span>

      <!-- Overlay cuando el menu esta activado-->
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <div id="tapa-caja"></div>
          <div id="caja-pastilla">
            <div class="pastilla" onclick="inicio()">
              <div id="tapa-pastilla-start"><h3>INI</h3></div>
              <div id="tapa-pastilla-end"><h3>CI</h3></div>
            </div>
            <div class="pastilla" onclick="registrar()">
              <div id="tapa-pastilla-start"><h3>REGIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TRAR</h3></div>
            </div>
            <div class="pastilla" onclick="listarPaciente()">
              <div id="tapa-pastilla-start"><h3>LLIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TAR</h3></div>
            </div>
            <div class="pastilla">
              <div id="tapa-pastilla-start"><h3>VALOR</h3></div>
              <div id="tapa-pastilla-end"><h3>ACIÓ</h3></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- contenido de MAIN  -->

    <main class="register__contenido--main">
      <section class="s_main_registrar">
        <h2>REGISTRE DE NOU PACIENT</h2>

        <form action="/recibirDatosPaciente" method="POST">

          <!-- Primera parte del form -->
          <div class="form" id="part1">
          
          <label for="nom">Nom</label>
               <input placeholder="Nom" type="text" value="a" id="nom" name="nom" /> 
          <label for="dni">Nif</label>
               <input placeholder="Dni" type="text" value="a" id="dni" name="dni" /> 
              <label for="edat">Edat </label>
          
               <input placeholder="Edat" type="number" value=1 name="edat"/> 
              
              <label for="sexe">Sexe </label>
                <input placeholder="Sexe" type="text" value="a"  name="sexe"/> 
           
              
               <label for="LLoc_naixement">LLOC DE NAIXEMENT: </label>
                <input type="number" value=1 name="LLoc_naixement" /> 
              <label for="Lloc_residencia">LLOC DE RESIDÈNCIA: </label> 
                <input type="text" value="a"  name="Lloc_residencia"/>
              
                
                <label>Vius Sol:</label> 
                 <div class="form_label_si_no">
                <label>SI
                  <input type="radio"  value="pmc" name="viu_sol"/></label>
                <label>NO
                  <input type="radio"  value="pmc" name="viu_sol"  /></label>
                </div>
              <label for="familia_origen_pare">FAMILIA D'ORIGEN: PARE </label>
                <input type="text" value="a"  name="familia_origen_pare"/> 
              <label for="familia_origen_mare">FAMILIA D'ORIGEN: MARE </label>
                <input type="text" value="a"  name="familia_origen_mare"/> 
              <label for="familia_origen_germans">FAMILIA D'ORIGEN: GERMANS</label> 
                <input type="text" value="a" name="familia_origen_germans"/>
          
              <label for="rol_ocupa">ROL QUE OCUPA </label>
                <input type="text" value="a" name="rol_ocupa" /> 
              <label for="membres_integren">MEMBRE QUE LA INTEGREN </label>
                <input type="text" value="a" name="membres_integren"/> 
            </div>
          
          
          <!-- Parte 1.1 del form -->
          <div class="form" id="part1_1">
          
              <label for="temps_residencia">TEMPS DE RESIDÈNCIA</label>
                 <input type="number" value= 1 name="temps_residencia" /> 
              <label>PRENS MEDICAMENTS A CASA</label>
              <div class="form_label_si_no">
              <label>SI
                <input type="radio"  value="pmc" name="pren_medicaments_casa"  /> </label>
                <label>NO
                <input type="radio"  value="pmc" name="pren_medicaments_casa"  /> </label>
          </div>
              <label for="quins_medicaments">QUINS </label>
                <input type="text" value="a"  name="quins_medicaments"/> 
          
          
              <label for="problema_salut_actual">PROBLEMAS DE SALUT </label>
                <input type="text" value="a" name="problema_salut_actual"/> 
          
              <label>FAMILIA DE PROCREACIÓ </label>
              <div class="form_label_si_no">
              <label> SI
                <input type="radio"  value="fp" name="familia_procreacio"  /></label>
                <label>NO
                <input type="radio"  value="fp" name="familia_procreacio"  /> </label>
                </div>
          </div>
          
          <!-- Segunda parte del form -->
          <div class="form" id="part2">
            
              <label for="ritme">RITME </label>
              <input type="text" value="a" name="ritme" />
              <label for="frequencia_r">FREQÜENCIA R </label>
                <input type="number" value=1 name="frequencia_r"/>
              <label for="amplitud">AMPLITUD: </label>
                <input type="number" value=1 name="amplitud" />
              <label>RESPIRACIÓ:</label>
              <div class="form_label_si_no"> 
              <label>BUCAL
                <input type="radio" value="a"  name="tipus_respiracio"  /></label>
                <label>NASAL
                <input type="radio" value="a"  name="tipus_respiracio"  />  </label>
              </div>
              <label for="orifisis_nasals_permeables">ORIFICIS NASALS PERMEABLES </label>
                <input type="text" value="a"  name="orifisis_nasals_permeables"/>
          
          
              <label for="frequencia_cardiaca">FREQÜENCIA CARDIACA </label>
                <input type="number" value=1 name="frequencia_cardiaca" /> 
              <label for="pa">PA. </label>
              <input type="number" value=1 name="pa" /> 
              <label for="coloracio_mucoses">COLORACIÓ: MUCOSES:</label>
                <input type="text" value="a" name="coloracio_mucoses" /> 
          
              <label for="coloracio_pell" id="pell">PELL:  </label>
              <input type="text" value="a" name="coloracio_pell"/>
              
              <label>RESPIRACIÓ:</label>
               <div class="form_label_si_no"> 
          
               <label >SILENCIOSA 
                <input type="radio" value="a" name="respiracio" id="res"  /> </label>
               <label>SOROLLOSA
                <input type="radio" value="a" name="respiracio" id="res2"  /></label>
               </div>
            </div>
          
          
          <!-- 2.1 parte del form -->
          <div class="form" id="part2_1">
          
              <label>TOS: </label>
              <div class="form_label_si_no"> 
                <label >SI    
                <input type="radio" value="a" name="tos"  /></label>
                <label>NO
                <input type="radio" value="a" name="tos"  /></label> 
              </div>
              
           
              <label for="tos_descripcio">DESCRIPCIÓ</label>
                 <input type="text" value="a" name="tos_descripcio" /> 
              <label for="mucositat">MUCOSITAT</label> 
              <input type="text" value="a"  name="mucositat"/> 
              <label for="mucositat_descripcio">DESCRIPCIÓ </label>
                 <input type="text" value="a" name="mucositat_descripcio" />
          
              <label>EXPECTORACIÓ </label>
              <div class="form_label_si_no"> 
          
              <label> SI
              <input type="radio" value="a" name="expectoracio"  /> </label>
                <label>NO
              <input type="radio" value="a" name="expectoracio"  /> </label>
              </div>
              
              <label for="altres_manifestacions2">ALTRES MANIFESTACIONS   </label>
                <input type="text" value="a" name="altres_manifestacions2"/>
          
           
              <label>HI HA SITUACIONS QUE INFLUENCIEN LA SEVA RESPIRACIÓ: </label>
          
              <div class="form_label_si_no"> 
               <label>SI
                <input type="radio" value="a" name="situacions_influencien_respiracio"  /></label>
                <label>NO
                <input type="radio" value="a" name="situacions_influencien_respiracio"  /></label>
              </div>
          
          
              <label for="quines_influencien2">QUINES</label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_influencien2"></textarea>
              
              <label for="mitja_utilitza_respirar_millor">MITJANS QUE UTILITZAN PER RESPIRAR MILLOR</label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mitja_utilitza_respirar_millor" id="mitja_utilitza_respirar_millor"></textarea>
              
              <label>FUMA  </label>
              <div class="form_label_si_no"> 
          
              <label for="">SI
                <input type="radio" value="a" name="fuma"  /> </label>
                <label for="">NO 
                <input type="radio" value="a" name="fuma"  /></label>
              </div>
          
              <label for="cigars_dia">CIGARS DIA </label>
              <input type="number" value=1 name="cigars_dia"/> 
          
          </div>
          
          <!-- Tercera Parte -->
          
          <div class="form" id="part3">
            
                <label for="pes">PES</label>
                <input type="number" value=1 name="pes">
                <label for="talla">TALLA</label>
                <input type="text" value="a" name="talla"> 
          
                <label>CAVITAT BUCAL: </label>
                <label for="numero_dents_realitzar_funcio">a) DENTS EN Nº SUFICIENT PER REALITZAR BÉ LA SEVA FUNCIÓ:</label> 
                <input type="number" value=1 name="numero_dents_realitzar_funcio">
          
                <label id="b">b) PROTESIS DENTAL: </label>
                <div class="form_label_si_no"> 
                <label>PARCIAL
                    <input type="radio" value="a" name="protesi_dental" > </label>
                    <label>TOTAL
                    <input type="radio" value="a" name="protesi_dental" ></label>
                </div>
          
                <label>MASTICACIÓ: </label>
                <div class="form_label_si_no"> 
                <label> LENTA
                    <input type="radio" value="a" name="masticacio" ></label>
                <label>RÀPIDA
                    <input type="radio" value="a" name="masticacio" ></label>
                </div>
          
           
                <label for="caracteriques_deglucio">LA DEGLUCIÓ. CARACTERÍSTIQUES:</label>
                   <input type="text" value="a" name="caracteriques_deglucio">
          
                <label for="tipus_dieta">TIPUS DIETA:</label> 
                <input type="text" value="a" name="tipus_dieta">
          
                <label>ALIMENTS I LIQUITS QUE PREN HABITUALMENT I QUANTITAT/DIA </label>
          
                <label for="esmorzar">ESMORZAR </label>
                  <input type="text" value="a" name="esmorzar">
                <label for="dinar">DINAR </label>
                  <input type="text" value="a" name="dinar"> 
          
          </div>
          
          <!-- 3.1 Parte -->
          <div class="form" id="part3_1">
            
              <label for="berenar">BERENAR </label> 
                <input type="text" value="a" name="berenar">
          
              <label for="sopar">SOPAR </label>
                <input type="text" value="a" name="sopar">
          
              <label for="altres">ALTRES </label>
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres"></textarea>
          
              <label for="sensacio_habitual_respecte_menjar">HABITUALMENT QUINA SENSACIÓ TÉ  RESPECTE AL MENJAR  </label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="sensacio_habitual_respecte_menjar"></textarea>
          
              <label for="aliments_solits_liquids_no_agraden_intolera_restriccio">
                ALIMENTS SÒLITS O LIQUIDS QUE NO LI AGRADEN, INTOLERA O TÉ ALGUNA RESTRICCIÓ
              </label>
               <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="aliments_solits_liquids_no_agraden_intolera_restriccio"></textarea> 
          
          
          
              <label>HABITUALMENT MENJA:</label>
              <div class="form_label_si_no"> 
                <label for="habitualment_menja_CASA" class="part_3_1labelsiNo_linea_larga">A CASA </label>
                <label for="habitualment_menja_FEINA" class="part_3_1labelsiNo_linea_larga">A LA FEINA </label>
                <label for="habitualment_menja_RESTAURANT" class="part_3_1labelsiNo_linea_larga">A UN RESTAURANT </label>
                <label for="habitualment_menja_SOL" class="part_3_1labelsiNo_linea_larga">SOL</label>
                <label for="habitualment_menja_ACOMPANYAT" class="part_3_1labelsiNo_linea_larga">ACOMPANYAT </label>
                <br>
          <label  class="part_3_labelsiNo_linea_larga_inputs1">
                <input type="radio" value="a" name="habitualment_menja" id="habitualment_menja_CASA" ></label>
          <label  class="part_3_labelsiNo_linea_larga_inputs2">
                <input type="radio" value="a" name="habitualment_menja"id="habitualment_menja_FEINA" ></label>
          <label  class="part_3_labelsiNo_linea_larga_inputs3">
                <input type="radio" value="a" name="habitualment_menja"id="habitualment_menja_RESTAURANT" > </label>
          <label  class="part_3_labelsiNo_linea_larga_inputs4">
              <input type="radio" value="a" name="habitualment_menja"id="habitualment_menja_SOL">
            </label>
          <label class="part_3_labelsiNo_linea_larga_inputs5" >
                <input type="radio" value="a" name="habitualment_menja"id="habitualment_menja_ACOMPANYAT" ></label>
              </div>
              
              
              
              <label>HI HA SITUACIONS QUE INFLUENCIEN ELS SEUS HABITS ALIMENTARIS </label>
              <div class="form_label_si_no"> 
              <label>SI
                <input type="radio" value="a" name="situacions_influencien_habits_alimentalis" > </label>
                <label>NO
                <input type="radio" value="a" name="situacions_influencien_habits_alimentalis" > 
              </label>
              </div>
              
              <label for="quines_situacions">QUINES</label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_situacions"></textarea>
          
              <label for="mitjans_utilitza_millorar">MITJANS QUE UTILITZA PER MILLORAR-LOS</label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mitjans_utilitza_millorar"></textarea>
          
              <label for="altres_manifestacions3">ALTRES MANIFESTACIONS </label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres_manifestacions3"></textarea> 
          
          </div>
          
          <!-- Quarta Parte -->
          <div class="form" id="part4">
                <table class="table_multi">
          
                    <tr>
                  
                      <th>PATRÓ HABITUAL</th>
                  
                      <th>FREQÜENCIA</th>
                  
                      <th>QUANTITAT</th>
          
                      <th>ASPECTE</th>
                  
                    </tr>
                  
                    <tr>
                  
                        <th>ORINA</th>
                    
                        <td><input type="number" value=1 name="frequencia_orina"></td>
                    
                        <td><input type="number" value=1 name="quantitat_orinar"></td>
          
                        <td><input type="text" value="a" name="aspecte_orina"></td>
                    
                    </tr>
          
                    <tr>
                  
                        <th>PEMTES</th>
                    
                        <td><input type="number" value=1 name="frequencia_femtes"></td>
                    
                        <td><input type="number" value=1 name="quantitat_femtes"></td>
          
                        <td><input type="text" value="a" name="aspecte_femtes"></td>
                    
                    </tr>
                    
                    <tr>
                  
                        <th>SUOR</th>
                    
                        <td>
                          <div class="form_label_si_no"> 
                          <label> SI
                            <input type="radio" value="a" name="frequencia_suor" ></label>
                            <label>NO
                            <input type="radio" value="a" name="frequencia_suor" ></label>
                          </div>
                        </td>
                    
                        <td><input type="number" value=1 name="quantitat_suor"></td>
          
                        <td> <label for="aspecte_suor"> OLOR</label><br>
                          <input type="text" value="a" name="aspecte_suor"></td>
                    
                    </tr>
          
                    <tr>
                  
                        <th>REGLA</th>
          
                        <td><div class="form_label_si_no"> 
                          <label>SI
                            <input type="radio" value="a" name="frequencia_regla" > </label>
                            <label>NO
                            <input type="radio" value="a" name="frequencia_regla" ></label>
                            </div>
                        </td>
                         <td></td>
                         <td></td>
                    </tr>
                </table> <br><br>
          </div>
          
          <!-- 4_1 Parte -->
          <div class="form" id="part4_1">
            <label>HIA HA SITUACIONS QUE INFLUENCIEN ELS  SEUS HÀBITS D'ELIMINACIÓ: </label>
            <div class="form_label_si_no"> 
                  <label>SI
                    <input type="radio" value="a" name="situacions_influencien_habits_eliminacio" > </label>
                    <label>NO
                    <input type="radio" value="a" name="situacions_influencien_habits_eliminacio" > </label>
          
            </div>
                <label for="quines_influencien4">QUINES </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_influencien4"></textarea>      
            
          
          
              <label for="mitjans_utilitzar_eliminar_millor">MITJANS QUE UTILITZA PER ELIMINAR MILLOR </label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mitjans_utilitzar_eliminar_millor"></textarea>
          
              <label for="altres_manifestacions4">ALTRES MANIFESTACIONS </label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres_manifestacions4"></textarea>
          
          </div>
          
          <!-- Quinta -->
          <div class="form" id="part5">
            
                <label>POT MOURE TOTES LES PART DEL COS </label>
                <div class="form_label_si_no"> 
          
                <label>SI
                    <input type="radio" value="a" class="pmpc" name="pot_moure_totes_parts_cos"  /> </label>
                 <label>NO
                    <input type="radio" value="a" class="pmpc" name="pot_moure_totes_parts_cos"  /> </label>
                </div>          
                  
                  <label for="quines_parts"> QUINES </label>
                     <textarea     cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_parts"></textarea>
          
                  <label for="perque_pot_moure"> PER QUÈ</label> 
                    <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="perque_pot_moure"></textarea>
                  
                  <label>ÉS: </label>
                  <div class="form_label_si_no"> 
          
                  <label>DRETÀ
                    <input type="radio" class="es" value="a" name="es"  /></label>
                    <label>ESQUERRÀ
                    <input type="radio" class="es" value="a" name="es"  /></label>
                  </div>
                    
                 <label for="postura_habitual"> POSTURA HABITUAL </label>
                  <input type="text" value="a" name="postura_habitual">
          
          
          
                <label for="activitats_fisiques"> ACTIVITATS FÍSIQUES </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="activitats_fisiques"></textarea>
          
                <label> HI HA SITUACIONS QUE INTERFEREIXEN LA SEVA MOBILITAT: </label>
                
                <div class="form_label_si_no"> 
                <label>SÍ
                    <input type="radio" value="a" class="sim" name="situacions_interfereixen_mobilitat" > </label>
                    <label>NO
                    <input type="radio" value="a" class="sim" name="situacions_interfereixen_mobilitat" > </label>
                </div>
          
                <label for="quines_situacions_interfreixen_mobilitat"> QUINES </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_situacions_interfreixen_mobilitat"></textarea>
          
                <label for="mitjans_utilitza_moure_millor_mantenir_postura_adequada"> MITJANS QUE UTILITZA PER MOURE'S MILLOR Y MANTENIR  UNA  POSTURA ADEQUADA </label> 
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mitjans_utilitza_moure_millor_mantenir_postura_adequada"></textarea> 
          
                <label for="altres_manifestacions5"> ALTRES MANIFESTACIONS  </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres_manifestacions5"></textarea>
          
          </div>
          
          <!--  sexta parte -->
          <div class="form" id="part6">
          
              <label for="hores_dorm">HORES QUE DORM HABITUALMENT</label>
                <input type="number" value= 1 name="hores_dorm">
              
              
              <label>MIDIGADA:</label>
              <div class="form_label_si_no">
                  <label>SI
                <input type="radio" name="migdia" value="SI" ></label>
                
                <label>NO
                  <input type="radio" name="migdia" value="NO" ></label>
          </div>
          
          <label>QUALITAT DEL SON:</label>  
          <div class="form_label_si_no">
            <label>a) TRANQUIL
              <input type="radio" name="qualitat_son" value="tranquil"  ></label>
            <label>b) MAL SONS
              <input type="radio" name="qualitat_son" value="mal son" ></label>
          
            <label>c) INTERRUPCIONS
              <input type="radio" name="qualitat_son" value="interrupcions" ></label>
          </div>
             
              <label>HI HA SITUACIONS QUE INFLUENCIEN LA SEVA SON:</label>
          <div class="form_label_si_no">
          <label>SI
                <input type="radio" name="situacions_influencien_son" ></label>
          <label>NO
                <input type="radio" name="situacions_influencien_son" ></label>
          </div> 
          
            <label for="quienes_situacions_influencien_son">QUINES</label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quienes_situacions_influencien_son"></textarea>
              
              
              <label for="mitjans_utilitza_dormir_millor_reposar">Mitjans que utilita per reposar millor: </label>
                <input type="text" value="a" name="mitjans_utilitza_dormir_millor_reposar">
          
              <label for="altres_manifestacions6">Altres manifestacions: </label>
              <input type="text" value="a" name="altres_manifestacions6">
          
          </div>
          
          <!-- septima parte -->
          <div class="form" id="part7">
                
              <label for="significat_roba"> SIGNIFICAT DE LA ROBA</label>
              
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="significat_roba"></textarea>
              
              <label for="tipus_roba"> TIPUS DE ROPA </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="tipus_roba"></textarea>
              
              
              <label> CAPACITAT DE VESTIR-SE Y DESVESTIR-SE</label>
              <div class="form_label_si_no">
                <label>SÍ  
                <input type="radio" value="a" name="capacitat_vestir_desvestir" ></label>
                  <label>NO
                  <input type="radio" value="a" name="capacitat_vestir_desvestir" ></label>
              </div>
              <label> HI HA SITUACIONS QUE INFLUENCIEN LA SEVA VESTIMENTA</label>
          
              <div class="form_label_si_no">
                <label>SÍ
                  <input type="radio" value="a" name="situacions_influencien_vestimenta" ></label>
                  <label>NO
                  <input type="radio" value="a" name="situacions_influencien_vestimenta" ></label>
               </div>
          
              <label for="quines_situacions_influencien_vestimenta">QUINES SITUACIONS</label>
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_situacions_influencien_vestimenta"></textarea>
              
              <label for="mitjans_millorar_satisfaccio_vestir_desvestir">MITJANS PER MILLORAR LA SATISFACCIÓ DE VESTIR-SE Y DESVESTIR-SE: </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mitjans_millorar_satisfaccio_vestir_desvestir"></textarea>
            
          
              <label for="altres_manifestacions7">ALTRES MANIFESTACIONS </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres_manifestacions7"></textarea>
          </div>
          
          <!-- Octava parte-->
          <div class="form" id="part8">
          
            <label for="TEMP_PELL">TEMPERATURA DE LA PELL:</label>
              <input type="number" value=1 id="TEMP_PELL" name="temperatura_pell">
          
          
          <label for="TEMP_AUXXILAR">TEMPERATURA AXILAR:</label>
              <input type="number" value=1 id="TEMP_AUXXILAR" name="temperatura_axilar">
          
          
          <label for="com_sent_temperatura_ambient">NORMALMENT COM ES SENT RESPECTE A LA TEMPERATURA AMBIENT:</label>
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="com_sent_temperatura_ambient"></textarea>
          
            <label>HI HA SITUACIONS QUE INFLUENCIEN LA TERMOREGULACIÓ:</label>
            <div class="form_label_si_no">
          
                <label>SI
                <input type="radio" value="a" name="situacions_influencien_termoregulacio" >
                </label>
                <label>NO
                <input type="radio" value="a" name="situacions_influencien_termoregulacio" ></label>
            </div>
                <label for="quines_situacions_influencien_termoregulacio">QUINES</label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_situacions_influencien_termoregulacio"></textarea>
          
            <label for="altres_manifestacions8">ALTES MANIFESTACIONS:</label>
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres_manifestacions8"></textarea>
          
            
            
          <label for="mitjans_utilitza_mantenir_temperatura">MITJANS QUE UTILITZA PER MANTENIR LA TEMPERATURA:</label>
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mitjans_utilitza_mantenir_temperatura"></textarea>
          
          </div>
          
          <!-- Novena parte -->
          <div class="form" id="part9">
            
            <label for="condicions_higeniques_pell_mucoses"> CONDICIONS HIGIÈNIQUES DE PELL Y MUCOSAS </label> 
            <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="condicions_higeniques_pell_mucoses"></textarea> 
          
                  <label for="descripcio_condicions_pell_mucosa"> CONDICIONS PELL Y MUCOSA.  DESCRIPCIÓ: </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="descripcio_condicions_pell_mucosa"></textarea>
          
                  <label for="habits_higene_corporal"> HÀBITS D'HIGIENE CORPORAL</label> 
                    <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="habits_higene_corporal"></textarea> 
          
                  <label for="habits_higene_bucal"> HÀBITS D'HIGIENE BUCAL</label><textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="habits_higene_bucal"></textarea>
              
                  
                  
                  <label>HI HA SITUACIONS QUE INFLUENCIEN LA SEVA HIGIENE </label>
                  <div class="form_label_si_no">
          
                  <label>SÍ
                    <input type="radio" value="a" name="situacions_influencien_higene" >
                  </label>
                  <label>NO
                    <input type="radio" value="a" name="situacions_influencien_higene" >
                  </label>
                  </div>
                 
                  <label for="quines_situacions_influencien_higene"> QUINES </label> 
                     <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_situacions_influencien_higene"></textarea> 
          
                  <label for="mijans_utilitza_millorar_higene"> MITJANS QUE UTILITZA PER MILLORAR LA SEVA HIGIENE </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mijans_utilitza_millorar_higene"></textarea>
          
                  <label for="altres_manifestacions9"> ALTRES MANIFESTACIONS </label>
                  <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres_manifestacions9"></textarea> 
               
          </div>
          
          <!-- Decima parte -->
          <div class="form" id="part10">
            
              <label for="coneix_mides_prevencio">CONEIX MIDES DE PREVENCIÓ: </label>
                <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="coneix_mides_prevencio" value="a" ></textarea>
             
          
            <label for="salubritat_medi_1">SALUBRITAT DEL MEDI: </label>
              <input type="text" value="a" name="salubritat_medi_1"> 
              <!-- AJUSTAR EN LAS FUNCIONES EL HABITAT Y MYSQL -->
             <label for="salubritat_habitat_1">SALUBRITAT DEL MEDI:  </label>
              <input type="text" value="a" name="salubritat_habitat_1">
              <label for="lloc_treball">LLOC DE TREBALL</label>
               <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="lloc_treball" id=""></textarea> 
           
          
          
            <label >HI HA SITUACIONS O CIRCUMSTÀNCIES QUE  INFLUENCIEN LA SEVA SEGURETAT FÍSICA, PSICOLÒGICA, SOCIAL:</label>
            <div class="form_label_si_no">
              <label>SI
              <input type="radio" value="a" name="situacions_circumstancies_seguretat_fisica_psicologica_social" ></label>
              <label>NO
                <input type="radio" value="a" name="situacions_circumstancies_seguretat_fisica_psicologica_social" >
              </label>
            </div>
              
              <label for="quines_situacions_seguretat_fisica_psicologica_social">QUINES</label>
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="quines_situacions_seguretat_fisica_psicologica_social" value="a"></textarea>
          
            <label for="mitjans_utilitza_proteccio" >MITJANS QUE UTILITZA DE PROTECCIÓ:</label> 
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="mitjans_utilitza_proteccio" value="a"></textarea>
          
          
          <label for="altres_manifestacio10">ALTRES MANIFESTACIONS:</label> 
              <textarea    cols="60" placeholder="Escribe tu respuesta..." rows="8" name="altres_manifestacio10" value="a"></textarea>
          </div>
          
          <!-- Decimo Primera primera parte -->
           <div class="form" id="part11">
            
              <label for="estat_consciencia">ESTAT DE CONSCIENCIA: </label>
                <input type="text" value="a" name="estat_consciencia"/>
          
              <label for="orientacio_temps_espai">ORIENTACIÓ TEMPS-ESPAI: </label>
              <input type="text" value="a" name="orientacio_temps_espai" /> </label>
              
              <label for="estat_sesorials">ESTATS SENSORIALS:</label> 
              <input type="text" value="a" name="estat_sesorials" /> 
              
              <label for="expressio_verbal">EXPRESSIÓ VERBAL: </label>
                <input type="text" value="a" name="expressio_verbal" />
          
              <label for="descripccio_expressio_no_verbal">EXPRESSIÓ NO VERBAL(Descripció):</label> 
              <input type="text" value="a" name="descripccio_expressio_no_verbal" /> 
          
              <label>HI HA SITUACIONS QUE INFLENCIEN LA SEVA COMUNICACIÓ:</label>
              
              <div class="form_label_si_no">
                <label >SI
                  <input type="radio" value="a" name="situacions_influencien_comunicacio"  /> </label>
                  <label>NO
                    <input type="radio" value="a" name="situacions_influencien_comunicacio"  /></label>   
                </div>
          
              <label for="quines_situacions_influencien_comunicacio">QUINES </label> 
                <input type="text" value="a" name="quines_situacions_influencien_comunicacio" />
          
              <label for="mitjans_faciliten_comunicacio">MITJANS QUE LI FACILITEN LA COMUNICACIÓ:</label> 
                 <input type="text" value="a" name="mitjans_faciliten_comunicacio" />
          
              <label for="altres_manifestacions11">ALTRES MANIFESTACIONS: </label>
                <input type="text" value="a" name="altres_manifestacions11" /> 
          </div>
          
          <!-- Decima Segunda parte del form -->
          <div class="form" id="part12">
          
              <label for="quines_creences_valors">QUINES SON LES SEVES CREENCES I VALORS PRIORITARIS: </label>
              <input type="text" value="a" name="quines_creences_valors"/>
          
              <label for="mitjans_utilitza_viure_creences_valors">MITJANS QUE UTILITZA PER VIURE D'ACORD AMB LES SEVES CREENCES I VALORS: </label>
              <input type="text" value="a" name="mitjans_utilitza_viure_creences_valors" />
              <label for="altres_manifestacions12">ALTRES MANIFESTACIONS: </label>
              <input type="text" value="a" name="altres_manifestacions12" />
          
          </div>
          
          <!-- Decima Tercera parte del form -->
          <div class="form" id="part13">
          
              <label for="rol_familiar">ROL FAMILIAR:</label> 
                <input type="text" value="a" name="rol_familiar" /> 
          
              <label for="rol_social">ROL SOCIAL:</label> 
              <input type="text" value="a" name="rol_social" /> 
              
              <label for="tipus_ocupacio">TIPUS D'OCUPACIÓ:</label> 
              <input type="text" value="a" name="tipus_ocupacio" />
          
              <label for="situacions_desenvolupacio_rol_social_familiar">HI HAN SITUACIONS QUE INFLUENCIEN SOBRE EL DESENVOLUPAMENT DEL ROL SOCIAL I FAMILIAR: </label>
              <input type="text" value="a" name="situacions_desenvolupacio_rol_social_familiar"/> 
          
              <label for="mitjans_millorar13">MITJANS QUE UTILITZA PER MILLORAR:</label>
               <input type="text" value="a" name="mitjans_millorar13"/> 
              
               <label for="altres_manifestacions13">ALTRES MANIFESTACIONS: </label>
               <input type="text" value="a" name="altres_manifestacions13"/> 
          </div>
          
          <!-- Decima Quarta parte del form -->
          <div class="form" id="part14">
          
              <label for="HABITS_DE_DIVERSIO_I_DISTRACCIO">HABITS DE DIVERSIÓ I DISTRACCIÓ:</label>
              <input type="text" value="a"  name="HABITS_DE_DIVERSIO_I_DISTRACCIO"/> 
              <!-- FALTA ESTE APARTADO EN LA BASE DE DATOS -->
              <label for="habits_esport">ESPORT:</label> 
              <input type="text" value="a" name="habits_esport" />
              
              <label for="habits_musica">MÚSICA: </label>
              <input type="text" value="a" name="habits_musica" /> 
              <label for="habits_lectura">LECTURA:</label> 
              <input type="text" value="a" name="habits_lectura" /> 
              <label for="habits_audiovisual">AUDIOVISUALS:</label> 
              <input type="text" value="a" name="habits_audiovisual" />
          
          
              <label for="habits_altres">ALTRES:</label> 
                <input type="text" value="a" name="habits_altres" /> 
              
                <label>HI HA SITUACIONS QUE INFLENCIEN LA SEVA COMUNICACIÓ:</label>
                <div class="form_label_si_no">
                <label>SI
                  <input type="radio" value="if"  name="situacions_influencien_interes_esbargir" /> </label>
                  <label for="">NO
                    <input type="radio" value="if" name="situacions_influencien_interes_esbargir" /> </label>
                </div>
          
              <label for="quines_situacions_influencien_interes_esbargir">QUINES:</label> 
              <input type="text" value="a" name="quines_situacions_influencien_interes_esbargir"/> 
              <label for="mitjans_utilitza_millorar_realitzacio">MITJANS QUE UTILITZA PER MILLORAR LA SEVA REALITZACIÓ: </label>
               <input type="text" value="a" name="mitjans_utilitza_millorar_realitzacio"/>
              
               <label for="altres_manifestacions14">ALTRES MANIFESTACIONS: </label><input type="text" value="a" name="altres_manifestacions14"/>
          
          </div>
          
          <!-- Decima Quinta parte del form -->
          <div class="form" id="part15">
          
              <label>TE INTERÈS PER A CONEIXER EL PROCÉS DE LA SEVA SALUT:</label>
              <div class="form_label_si_no">
                <label>SI
                  <input type="radio" value="s" name="interes_coneixer_proces_salut"  /> 
                </label>
              <label>NO
                <input type="radio" value="s" name="interes_coneixer_proces_salut"  /> 
              </label>
              </div>
          
              <label for="perque_interes_coneixer_proces_salut">PERQUE:</label> 
              <input type="text" value="a"  name="perque_interes_coneixer_proces_salut">
              <label for="situacions_dificulten_aprenentatge">HI HA SITUACIONS QUE LI DIFICULTEN L'APRENENTATGE:</label> 
              <input type="text" value="a" name="situacions_dificulten_aprenentatge"/> 
          
          
          
              <label for="mitjans_utilitza_aprendre">MITJANS QUE UTILITZA PER APRENDRE: </label>
              <input type="text" value="a" name="mitjans_utilitza_aprendre" value="a"/>
          
              <label for="altres_manifestacions15">ALTRES MANIFESTACIONS:</label> 
              <input type="text" value="a"  name="altres_manifestacions15"/>
          
          </div>
          
          
          
            <input type="submit" name="registrar" value="Registrar pacient" id="butonFinal"/>
              </form>

          <button onclick="pasarForm1()"  id="button1_siguiente">Següent</button>
      
          <button onclick="pasarForm1_1()" class="buton_oculta"   id="button1_1_siguiente">Següent (button1_1_siguiente)</button>
          <button onclick="pasarForm2()"   class="buton_oculta"   id="button2_siguiente">Següent (button2_siguiente)</button>
          <!-- Echa asta aqui -->

          
          <button onclick="pasarForm2_1()" class="buton_oculta" id="button2_1_siguiente">Següent (button2_1_siguiente)</button>
          <button onclick="pasarForm3()" class="buton_oculta"   id="button3_siguiente">Següent (button3_siguiente)</button>


          <button onclick="pasarForm3_1()" class="buton_oculta" id="button3_1_siguiente">Següent (button3_1_siguiente)</button>
          <button onclick="pasarForm4()" class="buton_oculta"   id="button4_siguiente">Següent (button4_siguiente)</button>
          <button onclick="pasarForm4_1()" class="buton_oculta" id="button4_1_siguiente">Següent (button4_1_siguiente)</button>

          <button onclick="pasarForm5()" class="buton_oculta"   id="button5_siguiente">Següent (button5_siguiente)</button> 
          <button onclick="pasarForm6()" class="buton_oculta"   id="button6_siguiente">Següent (button6_siguiente)</button> 
          <button onclick="pasarForm7()" class="buton_oculta"   id="button7_siguiente">Següent (button7_siguiente)</button>
          <button onclick="pasarForm8()" class="buton_oculta"   id="button8_siguiente">Següent (button8_siguiente)</button> 
          <button onclick="pasarForm9()" class="buton_oculta"   id="button9_siguiente">Següent (button9_siguiente)</button>
          <button onclick="pasarForm10()" class="buton_oculta"  id="button10_siguiente">Següent (button10_siguiente)</button>
          <button onclick="pasarForm11()" class="buton_oculta"  id="button11_siguiente">Següent (button11_siguiente)</button>
          <button onclick="pasarForm12()" class="buton_oculta"  id="button12_siguiente">Següent (button12_siguiente)</button>
          <button onclick="pasarForm13()" class="buton_oculta"  id="button13_siguiente">Següent (button13_siguiente)</button>
          <button onclick="pasarForm14()" class="buton_oculta"  id="button14_siguiente">Següent (button14_siguiente)</button>
                 <!-- Boton atras -->
          
          <button onclick="pasarForm1_atras()" class="buton_oculta"  id="button1_atras">Enrere (button1_atras)</button>
          <button onclick="pasarForm1_1_atras()" class="buton_oculta" id="button1_1_atras">Enrere (button1_1_atras)</button>
          <button onclick="pasarForm2_atras()" class="buton_oculta"   id="button2_atras">Enrere (button2_atras)</button>
          <!-- echa  -->

          <button onclick="pasarForm2_1_atras()" class="buton_oculta" id="button2_1_atras">Enrere (button2_1_atras)</button>
          
          <button onclick="pasarForm3_atras()" class="buton_oculta"   id="button3_atras">Enrere (button3_atras)</button>


          <button onclick="pasarForm3_1_atras()" class="buton_oculta" id="button3_1_atras">Enrere (button3_1_atras)</button>

          <button onclick="pasarForm4_atras()" class="buton_oculta"   id="button4_atras">Enrere</button>
          <button onclick="pasarForm4_1_atras()" class="buton_oculta" id="button4_1_atras">Enrere</button>
          <button onclick="pasarForm5_atras()" class="buton_oculta"   id="button5_atras">Enrere</button> 
          <button onclick="pasarForm6_atras()" class="buton_oculta"   id="button6_atras">Enrere</button> 
          <button onclick="pasarForm7_atras()" class="buton_oculta"   id="button7_atras">Enrere</button>
          <button onclick="pasarForm8_atras()" class="buton_oculta"   id="button8_atras">Enrere</button> 
          <button onclick="pasarForm9_atras()" class="buton_oculta"   id="button9_atras">Enrere</button>
          <button onclick="pasarForm10_atras()" class="buton_oculta"  id="button10_atras">Enrere</button>
          <button onclick="pasarForm11_atras()" class="buton_oculta"  id="button11_atras">Enrere</button>
          <button onclick="pasarForm12_atras()" class="buton_oculta"  id="button12_atras">Enrere</button>
          <button onclick="pasarForm13_atras()" class="buton_oculta"  id="button13_atras">Enrere</button>
          <button onclick="pasarForm14_atras()" class="buton_oculta"  id="button14_atras">Enrere</button>
      </section>
    </main>
<!-- 
    <footer>
      <p>ADAW ETPXAVIER 2022</p>
    </footer>
     -->
    <script src="{{url_for('static',filename='multistep_form.js')}}"></script>
    <script src="/static/funciones.js"></script>
  </body>
</html>
