/*********************GENERAL STYLES ************************/
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* *{
  box-sizing: border-box;
} */

/* Unused class ? */
/* .p1 {
  padding-left: 20%;
}
.p2 {
  padding-left: 40%;
} */

/********************* HEADER STYLES ************************/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #c9c9c9;
}

header #logo {
  display: block;
  align-self: auto;
}

header .titulo h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  color: #223645;
}

/********************* MENU STYLES ************************/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#tapa-caja {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #223645;
}

#caja-pastilla {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #223645;
  padding: 45px;
  border-radius: 35px;
}

.pastilla {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 1s;
}

.pastilla:hover {
  translate: 30px;
}

#tapa-pastilla-start {
  background-color: #ddd;
  border: none;
  color: black;
  width: 80px;
  text-align: center;
  text-decoration: none;
  height: 35px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#tapa-pastilla-end h3 {
  color: #f1f1f1;
}

#tapa-pastilla-end {
  height: 35px;
  width: 80px;
  background-color: #e61f57;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  cursor: pointer;
  transition: 1s;
  position: relative;
  z-index: 5;
  justify-content: flex-start;
  align-items: center;
}

/* .button {
  background-color: #ddd;
  border: none;
  color: black;
  width: 80px;
  text-align: center;
  text-decoration: none;
  height: 35px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button:hover {
  background-color: #f1f1f1;
} */

#tapa-pastilla:hover {
  translate: 30px;
}

.container-menu {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #223645;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#caja-menu {
  display: relative;
}

/********************* PAGINA INDEX STYLES ************************/
/* Unused classes? */
/* .s_main_index {
  width: 70%;
  margin-top: 100px;
} */

/* .s_main {
  margin-left: 15%;
} */

/* .a_main {
  background-color: silver;
  box-shadow: 1px 2px 12px black;
  padding: 10px;
  margin: 30px;
} */

main #descripcion {
  font-family: Poppins, sans-serif;
  color: #707070;
  font-size: 1.4vw;
  line-height: 1.5em;
  font-weight: 400;
}

main .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation-name: slide;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  margin-left: 3%;
  margin-bottom: 2%;
}

main h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #223645;
  font-size: 5vw;
  line-height: 1.2em;
  font-weight: 700;
}

.button-registro {
  display: inline-block;
  padding: 20px 40px 20px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #e61f57;
  border-radius: 50px;
  background-color: #e61f57;
  background-position: 88% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: 0 5px 30px 0 rgb(230 31 87 / 30%);
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 1.2vw;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: none;
}

.button-registro:hover {
  background-color: #fff;
  background-position: 88% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
  color: #e61f57;
}

/* Unused class ? */
/* .paciente h1 {
  font-size: 4vw;
} */

/********************* PAGINA LISTAR STYLES ************************/
.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column {
  width: 92vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: auto;
  overflow-y: none;
  row-gap: 2vh;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #223645;
  border-radius: 10px;
  color: #ddd;
  width: 80vw;
  border: 3px solid #6c6969;
  cursor: pointer;
}

.card:hover {
  opacity: 0.6;
}

.image-man {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.text-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: start;
  align-items: center;
  margin-left: 7%;
}

.dadesPersonals{
  display: flex;
  flex-direction: row;
  font-size: 18px;;
  width: 60%;
}

.dadesPersonals .dadesNom{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-left: -7.5%;
  column-gap: 2%;
}

.dadesPersonals .dadesEdat{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 15%;
  column-gap: 1%;
}
.alarma-container{
  position: relative;
}

.alarmes{
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  margin-left: 5%;
}

.alarma {
  margin-top: 20px;
  margin-bottom: 20px;
}

.alarmes .alarma.activa {
  color: red;
}

.alarma.titulo-alarma {
  position: absolute;
  top: 0px;
  color: black;
  display: block;
}

.alarma:hover + .titulo-alarma {
  display: block;
  color: black;

}


.text-name h3 {
  margin-left: 5%;
  font-size: 18px;
}

/* .text-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
} */

/* .items-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-center {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

#image img {
  width: 35vw;
  height: auto;
}

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: transparent;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  height: 70%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.swiper {
  height: 30vw;
  width: 70vw;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #223645;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #c9c9c9;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #c9c9c9;
}

.close {
  color: #fff;
  float: right;
  font-size: 70px;
  font-weight: bold;
}

.data {
  align-items: center;
  background-color: #223645;
  border-radius: 10px;
  color: #ddd;
}

.data-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-content h1 {
  color: #f1f1f1;
  font-size: 1.5em;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/********************* MODAL STYLES ************************/
.modal-content .data-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content .data-content .dataTable{
  width: 90%;
  display: flex;
  flex-direction: column;
  column-gap: 1%;
  overflow: auto;
  justify-content: start;
  border: 4px solid #525252;
  border-radius: 10px;
}

.modal-content .data-content .dataTable .cell{
  border-bottom: 4px solid #525252;
  margin-top: 1%;
  padding: 1%;
  text-align: center;
}

.modal-content .data-content .dataTable .headingCell{
  background-color: #ffffff00;
  color: #fff700;
  text-transform: uppercase;
  padding: .2rem .5rem .2rem .5rem;
  font-size: 1.5em;
  border-bottom: 1px solid white;
}

.modal-content .data-content .dataTable .dataCell{
  /* font-style: italic; */
  margin-top: .5rem;
}

/* Unused classes ? */
/* .paciente {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .paciente .image-man {
  width: 70px;
  height: 70px;
  padding: 10px;
} */

/* .details {
  display: flex;
  flex-direction: row;
  width: 100%;
} */

/* .paciente-forms {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
} */

/********************* PAGINA REGISTRAR STYLES ************************/
.register__contenido--main{
  margin: 0 auto;
}

.form {
  display: flex;
}

.s_main_registrar {
  background-color: rgba(24, 39, 51, 0.85);
  width: 60%;
  color: white;
  text-align:center;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 3vh;
  margin-top: 2vh;
}
.s_main_registrar h2{
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
  margin: 0 0 3% 0;
}

.s_main_registrar h3{
  background-color: rgba(0,0,0,0.4);
  opacity: 60%;
  width: 80%;
  padding: 1%;
  letter-spacing: .1rem;
  margin-bottom: 3%
}

.form table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 2.9%;
  margin-left: 8%;
  max-width: 50vw;
  box-shadow: 2px 3px 20px black;
  text-align: center;
}
.form tr,
.form th,
.form td {
  border: 1px solid black;
  font-size: 10px;
}
.form th {
  background-color: black;
  color: rgb(163, 157, 157);
  padding: 10px;
}
.form td {
  background-color: white;
}

/* INPUTS selects */
.form input,
.form label input {
  width: 50%;
  height: 15px;
  font-size: 20px;
  margin: 10px 0 20px 0;
  padding: 3px;
  text-align: center;
}
.form textarea {
  width: 400px;
  height: 50px;
  padding: 15px;
  margin: 30px;
}

.form label {
  text-align:center;
  width: 50%;
}
.form_label_si_no label input {
  width: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2vh;
}

/* Estilos multiform */
/* Deprecated styles? */
/* table  */
/* .default,
tr,
td {
  color: black;
}
td {
  font-size: 17px;
} */
/* #botonRegistrar{
    display: none;
} */

/********************* FORMULARIOS STYLES ************************/
#part2 {
  display: none;
}
#part3 {
  display: none;
}
#part4 {
  display: none;
}
#part5 {
  display: none;
}
/* linea larga de si o no  */

.part_3_1labelsiNo_linea_larga {
  padding-left: 40px;
}
.part_3_labelsiNo_linea_larga_inputs1,
.part_3_labelsiNo_linea_larga_inputs2 {
  padding-left: 60px;
}
.part_3_labelsiNo_linea_larga_inputs3 {
  padding-left: 140px;
}
.part_3_labelsiNo_linea_larga_inputs4 {
  padding-left: 100px;
}
.part_3_labelsiNo_linea_larga_inputs5 {
  padding-left: 120px;
}

#part6 {
  display: none;
}
#part7 {
  display: none;
}

#part7 td label{
  color: black;
}

#part8 {
  display: none;
}
#part9 {
  display: none;
}
#part10 {
  display: none;
}
#part11 {
  display: none;
}
#part12 {
  display: none;
}
#part13 {
  display: none;
}
#part14 {
  display: none;
}
#part15 {
  display: none;
}
#part16 {
  display: none;
}
#part17 {
  display: none;
}
#part18 {
  display: none;
}

#part19 {
  display: none;
}

/*BUTTONS*/
/* Button ocult general  */
.buton_oculta {
  display: none;
  margin: 0 auto;
}

/* #butonFinal {
  display: none;
  margin: 0 auto;
} */

/********************* BOTONERA STYLES ************************/
.botonera{
  display: flex;
  justify-content: center;
  column-gap: 3%;
  margin: 2%;
  margin-bottom: 0%;
}
.botonera button{
  width: 1%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(24, 39, 51, 0.85);
  border: gray solid 1px;
}

.botonera button.botoneraActive{
  background-color: #c9c9c9;
}

.formControls{
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}

.formControls .formButton{
  width: 20%;
  height: 3vh;
  background-color: rgba(0,0,0,0.4);
  padding: 2%;
  cursor: pointer;
}

.formControls .formButton:hover{
  opacity: 60%;
}

.formControls .formButton.hidden{
  visibility: hidden;
}

.formControls .formButton.final{
  width: 40%;
  height: 6vh;
  background-color: #e61f57;
  color: white;
  border: none;
  padding: 2%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 200;
  font-family: 'Times New Roman', Times, serif;
  margin:0 !important;
  display: block;
}

.formControls .formButton.final:hover{
  opacity: 60%;
}


/********************* PAGINA EXIT STYLES ************************/
.s_main_exitosa {
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  margin-left: 20%;
  width: 60%;
}
.h1_pagina_exitosa {
  color: rgb(16, 236, 16);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

/********************* REGISTRO ERROR STYLES ************************/
.s_main_error {
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  margin-left: 20%;
  width: 60%;
}
.h1_pagina_error {
  color: rgb(236, 16, 16);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

/* .table_multi {
  border-collapse: collapse;
  box-shadow: 2px 3px 20px black;
}

.table_multi tr td {
  background-color: rgb(118, 186, 201);
  font-size: 14px;
  color: white;
} */

/********************* FOOTER STYLES ************************/
footer{
  background-color: #223645;
  padding-left: 25px;
  color: white;
  animation-name: slide;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.logo-footer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.iconos{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.icono-telefono {
  width: 20px;
  height: 20px;
}

.icono-email {
  width: 20px;
  height: 20px;
}

.footer-container{
  display: flex;
  gap: 30px;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  padding: 0px 50px 10px 50px;
}

.footer-descripcion {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
/********************* MEDIA SCREEN ************************/
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/********************* ANIMACIONES STYLES ************************/
@keyframes slide {
  0% {
    transform: translate(0vw, 100vw);
  }
  100% {
    transform: translate(0vw, 0vw);
  }
}