<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inici</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  {% include "header.html" %}
    <main>
      <div class="container">
        <div id="text" class="text">
          <p><h1>Benvingut a TELÈSFOR, l'aplicació de registre de pacients en cures</h1></p>
          <p id="descripcion">Actualment hi ha un total de <b> {{ data }} pacients</b> en el
            registre.</p>
            <button class="button-registro" id="button-registro" onclick="registrar()">Registrar</button>
        </div>
        <div id="image">
          <img src="/static/medica.png" alt="Medica" width="480px">
        </div>
      </div>
    </main>
    {% include "footer.html" %}

    <script src="/static/menu.js"></script>
  </body>
</html>
