<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Llista</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilos_pagina.css')}}" />
  <!-- Link Swiper's CSS -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> -->
  <link rel="stylesheet" href="{{url_for('static',filename='swiper-bundle.css')}}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
  <header>
    <!-- LOGO DE LA APP-->
    <div id="logo">
      <!-- <img
          src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png"
          alt="Imagen de logo"
          width="90px"
        /> -->
      <img src="{{url_for('static',filename='enfermeros.jpg')}}" alt="Imagen de logo" width="150px">
    </div>

    <!-- TITULO DE LA PAGINA-->
    <div class="titulo">
      <h1>LLISTAT DE PACIENTS</h1>
    </div>
    <!--Menu Hmaburguesa-->
    <span id="caja-menu">
      <div class="container-menu" id="menu" onclick="abrirMenu()">
        <div id="bar1" class="bar1"></div>
        <div id="bar2" class="bar2"></div>
        <div id="bar3" class="bar3"></div>
      </div>
    </span>

    <!-- Overlay cuando el menu esta activado-->
    <div id="myNav" class="overlay">
      <div class="overlay-content">
        <div id="tapa-caja"></div>
        <div id="caja-pastilla">
          <div class="pastilla" onclick="inicio()">
            <div id="tapa-pastilla-start">
              <h3>INI</h3>
            </div>
            <div id="tapa-pastilla-end">
              <h3>CI</h3>
            </div>
          </div>
          <div class="pastilla" onclick="registrar()">
            <div id="tapa-pastilla-start">
              <h3>REGIS</h3>
            </div>
            <div id="tapa-pastilla-end">
              <h3>TRAR</h3>
            </div>
          </div>
          <div class="pastilla" onclick="listarPacientes()">
            <div id="tapa-pastilla-start">
              <h3>LLIS</h3>
            </div>
            <div id="tapa-pastilla-end">
              <h3>TAR</h3>
            </div>
          </div>
          <div class="pastilla">
            <div id="tapa-pastilla-start">
              <h3>VALOR</h3>
            </div>
            <div id="tapa-pastilla-end">
              <h3>ACIÓ</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- contenido de MAIN  -->
  <main>
    <div class="column">
      {% for linea in data | reverse %}
      <div class="row">
        <div class="card" id="{{linea[0]}}">
          {% if linea[3] == 'H' %}
          <img src="./../static/man.png" alt="hombre" class="image-man" />
          {% else %}
          <img src="./../static/woman.png" alt="hombre" class="image-man" />
          {% endif %}
          <div class="text-card">
            <div class="text-name">
              <h3>{{linea[0]}}</h3>
            </div>
            <div class="list">
              <div class="dadesPersonals">
                <div class="dadesNom">
                  <h4>Nom:</h4>
                  <div>{{linea[1]}}</div>
                </div>
                <div class="dadesEdat">
                  <h4>Edat:</h4>
                  <div>{{linea[2]}}</div>
                </div>
              </div>
              <!-- CON ESTE LOOP.INDEX OBTENEMOS EL INDICE -->
              <!-- <p>{{linea[0]}}</p> -->
              <div class="alarmes">
                <div class="alarma-container">
                  <div class="alarma"><i class="fa-solid fa-head-side-cough fa-lg"></i></div>
                  <div class="titulo-alarma">Tos</div>
                </div>
                <div class="alarma-container">
                  <div class="alarma"><i class="fa-solid fa-box-tissue fa-lg"></i></div>
                  <div class="titulo-alarma">Expectoració</div>
                </div>
                <div class="alarma-container">
                  <div class="alarma"><i class="fa-solid fa-lungs fa-lg"></i></div>
                  <div class="titulo-alarma">Insuficiència respiratòria</div>
                </div>
                <div class="alarma-container">
                  <div class="alarma"><i class="fa-sharp fa-solid fa-smoking fa-lg"></i></div>
                  <div class="titulo-alarma"> Fuma</div>
                </div>
                <div class="alarma-container">
                  <div class="alarma"><i class="fa-solid fa-bowl-food fa-lg"></i></div>
                  <div class="titulo-alarma"> Aliments</div>
                </div>
                <div class="alarma-container">
                  <div class="alarma"><i class="fa fa-thermometer-full fa-lg" aria-hidden="true"></i></div> <!-- Buscar imagen de habitos para camibar-->
                  <div class="titulo-alarma"> Eliminació</div>
                </div>
                <div class="alarma-container">
                  <div class="alarma"><i class="fa-solid fa-person-walking fa-lg"></i></div>  
                  <div class="titulo-alarma"> Caminar</div>
                </div>              
                <div class="alarma-container"> 
                  <div class="alarma"><i class="fa-sharp fa-solid fa-bed fa-lg"></i></div>
                  <div class="titulo-alarma"> Son</div>
                </div>              
                <div class="alarma-container">            
                <div class="alarma"><i class="fa-solid fa-person-half-dress fa-lg"></i></div>
                <div class="titulo-alarma" >Vestimenta</div>
                </div>
                <div class="alarma-container">            
                <div class="alarma"><i class="fa fa-thermometer-full fa-lg" aria-hidden="true"></i></div>
                <div class="titulo-alarma" >Termoregulació</div>
                </div>
                <div class="alarma-container">            
                <div class="alarma"><i class="fa fa-shower fa-lg" aria-hidden="true"></i></div> 
                <div class="titulo-alarma" >Higiene</div>
                </div>
                <div class="alarma-container">            
                <div class="alarma"><i class="fa-sharp fa-solid fa-shield-halved fa-lg"></i></div>
                <div class="titulo-alarma" >Risc seguretat</div>
                </div>
                <div class="alarma-container">            
                <div class="alarma"><i class="fa-solid fa-comments fa-lg"></i></div>
                <div class="titulo-alarma" >Comunicació</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!--Modal para cada CardView-->

    <div id="paciente-details" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="swiper mySwiper container">
          <div class="swiper-wrapper content">
            {% for n in range(numTablas)%}
            <div class="swiper-slide data">
              <div class="data-content">
                <h1>{{n}}. {{nombreTablas[n]}}</h1>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    </div>
    </div>
  </main>
  <footer>
    <div class="logo-footer">
      <img src="{{url_for('static',filename='enfermeros.jpg')}}" 
      alt="Imagen de logo"
      width="50px">
      <h3>PROJECTE TELÈSFOR</h3>
    </div>
    <div class="footer-container">
      <div>
        <div class="iconos">
          <img src="{{url_for('static',filename='telefone.png')}}" 
          alt="Telefono"
          class="icono-telefono">
          <h4>+34 933 19 17 00</h4>
        </div>
        <div class="iconos">
          <img src="{{url_for('static',filename='email.png')}}" 
          alt="Email"
          class="icono-email">
          <h4>pregunta@etpx.fjaverianas.com</h4>
        </div>
      </div>
      <div class="footer-descripcion">
        <h3>Sobre el projecte</h3>
        <p>El nostre objectiu és ajudar els estudiants de Cures Auxiliars d'Infermeria </br> a tenir una experiència més propera al seu futur entorn laboral. </p>
      </div>
  </div>
  </footer>
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/static/listPatients.js"></script>
  <script src="/static/menu.js"></script>
  <!-- <script src="/static/alarmIcons.js"></script> -->
</body>

</html>