<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilos_pagina.css')}}"/>
</head>
<body>
    
        <!-- Herer  Encabezado -->
        <header>
            <div class="headerLeft">
                <img class="img_Logo" src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png" alt="Imagen de carta ">   
            </div>
            
            <h1 class="titulo1">REGISTRAT EXITOSAMENT</h1>
    
            <div class="headerRight">
                <a href="/">INICI</a>
                <a href="/lista_paciente">Llistat de pacients</a>
                <a href="/registrar">Registrar nou pacient</a>
            </div>         
           
        </header>
        <hr >
<!-- contenido de MAIN  -->

<main>
    <section class="s_main_exitosa">
        <h1 class="h1_pagina_exitosa">El registre ha estat exitos</h1>
</section>
    </main>

    <footer>ADAW ETPXAVIER 2022</footer>
</body>
</html>