<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sortir</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  <body>
    <header>
      <!-- LOGO DE LA APP-->
      <div id="logo">
        <!-- <img
          src="https://static.rfstat.com/renderforest/images/v2/logo-homepage/gradient_2.png"
          alt="Imagen de logo"
          width="90px"
        /> -->
        <img src="{{url_for('static',filename='enfermeros.jpg')}}" 
          alt="Imagen de logo"
          width="150px">
      </div>

      <!-- TITULO DE LA PAGINA-->
      <div class="titulo">
        <h1>SORTIR</h1>
      </div>
      <!--Menu Hmaburguesa-->
      <span id="caja-menu">
        <div class="container-menu" id="menu" onclick="abrirMenu()">
          <div id="bar1" class="bar1"></div>
          <div id="bar2" class="bar2"></div>
          <div id="bar3" class="bar3"></div>
        </div>
      </span>

      <!-- Overlay cuando el menu esta activado-->
      <div id="myNav" class="overlay">
        <div class="overlay-content">
          <div id="tapa-caja"></div>
          <div id="caja-pastilla">
            <div class="pastilla" onclick="inicio()">
              <div id="tapa-pastilla-start"><h3>INI</h3></div>
              <div id="tapa-pastilla-end"><h3>CI</h3></div>
            </div>
            <div class="pastilla" onclick="registrar()">
              <div id="tapa-pastilla-start"><h3>REGIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TRAR</h3></div>
            </div>
            <div class="pastilla" onclick="listarPacientes()">
              <div id="tapa-pastilla-start"><h3>LLIS</h3></div>
              <div id="tapa-pastilla-end"><h3>TAR</h3></div>
            </div>
            <div class="pastilla">
              <div id="tapa-pastilla-start"><h3>VALOR</h3></div>
              <div id="tapa-pastilla-end"><h3>ACIÓ</h3></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- contenido de MAIN  -->

    <main>
      <section class="s_main_exitosa">
        <h1 class="h1_pagina_exitosa">El registre ha estat exitos</h1>
      </section>
    </main>

    <footer>
      <div class="logo-footer">
        <img src="{{url_for('static',filename='enfermeros.jpg')}}" 
        alt="Imagen de logo"
        width="50px">
        <h3>PROJECTE TELÈSFOR</h3>
      </div>
      <div class="footer-container">
        <div>
          <div class="iconos">
            <img src="{{url_for('static',filename='telefone.png')}}" 
            alt="Telefono"
            class="icono-telefono">
            <h4>+34 933 19 17 00</h4>
          </div>
          <div class="iconos">
            <img src="{{url_for('static',filename='email.png')}}" 
            alt="Email"
            class="icono-email">
            <h4>pregunta@etpx.fjaverianas.com</h4>
          </div>
        </div>
        <div class="footer-descripcion">
          <h3>Sobre el projecte</h3>
          <p>El nostre objectiu és ajudar els estudiants de Cures Auxiliars d'Infermeria </br> a tenir una experiència més propera al seu futur entorn laboral. </p>
        </div>
    </div>
    </footer>

    <script src="/static/menu.js"></script>
  </body>
</html>
