<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='estilos_pagina.css')}}"
    />
  </head>
  {% set pagina = "pagina4" %}
  {% include "header.html" %}
  <body>
    <!-- contenido de MAIN  -->

    <main>
      <section class="s_main_error">
        <h1 class="h1_pagina_error">El registre no ha estat possible</h1>
      </section>
    </main>
    {% include "footer.html" %}
    <script src="/static/menu.js"></script>
  </body>
</html>
