/* Grids de body  */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 7vw 37vw 6vw;
  grid-template-areas:
    "header header header"
    "container container container"
    "footer footer footer"; */
}

header {
  grid-area: header;
}

.container {
  grid-area: container;
}

.column {
  grid-area: container;
}

footer {
  grid-area: footer;
}

/* header menu */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #c9c9c9;
}

#logo {
  display: block;
  align-self: auto;
}

.titulo h1 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  color: #223645;
}

#descripcion {
  font-family: Poppins, sans-serif;
  color: #707070;
  font-size: 1.4vw;
  line-height: 1.5em;
  font-weight: 400;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation-name: slide;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #223645;
  font-size: 5vw;
  line-height: 1.2em;
  font-weight: 700;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column {
  width: 92vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
  height: 30vw;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #223645;
  border-radius: 10px;
  color: #ddd;
  width: 80vw;
  border: 3px solid #6c6969;
  cursor: pointer;
}

.card:hover{
  opacity: 0.6;
}

.image-man {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.text-card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-evenly;
}

.text-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
}

.items-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-center {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image img {
  width: 35vw;
  height: auto;
}

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 60%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.paciente{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paciente .image-man{
  width: 70px;
  height: 70px;
  padding: 10px;
}

.details{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.paciente-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.paciente-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.button-registro {
  display: inline-block;
  padding: 20px 40px 20px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #e61f57;
  border-radius: 50px;
  background-color: #e61f57;
  background-position: 88% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  box-shadow: 0 5px 30px 0 rgb(230 31 87 / 30%);
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 1.2vw;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: none;
}

.button-registro:hover {
  background-color: #fff;
  background-position: 88% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 1;
  color: #e61f57;
}
/* FIN DE GRID  */

/* CONTENIDO DDE FPRM  */
.form {
  display: flex;
  /* margin-left: 250px; */
}

/* SELECT MAIN  */
/* DE INDEX  */
.s_main_index {
  width: 70%;
  margin-top: 100px;
}
/* DE REGISTRAR PAGINA  */
.s_main_registrar {
  background-color: rgba(24, 39, 51, 0.85);
  width: 60%;
  color: white;
  text-align:center;
  margin: 0 auto;
  padding: 15px;
}
.s_main_registrar h2{
  background-color: rgba(0,0,0,0.4);
  padding: 20px;
  margin: 0 0 5% 0;
}

/* DE PAGINA LISTA PACIENT */
table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 2.9%;
  margin-left: 8%;
  width: 90%;
  box-shadow: 2px 3px 20px black;
  text-align: center;
}
tr,
th,
td {
  border: 1px solid black;
  font-size: 20px;
}
th {
  background-color: black;
  color: rgb(163, 157, 157);
  padding: 10px;
}
td {
  background-color: white;
}

/* PAGINA EXITOSA  */
.s_main_exitosa {
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  margin-left: 20%;
  width: 60%;
}
.h1_pagina_exitosa {
  color: rgb(16, 236, 16);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

/* PAGINA ERROR  */
.s_main_error {
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  margin-left: 20%;
  width: 60%;
}
.h1_pagina_error {
  color: rgb(236, 16, 16);
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

/* INPUTS selects */
.form input,
label input {
  width: 30%;
  height: 15px;
  font-size: 20px;
  margin: 20px 0 40px 0;

}
textarea {
  width: 400px;
  height: 50px;
  padding: 15px;
  margin: 30px;
}

label {
  text-align:center;
  width: 50%;
}
.form_label_si_no label input {
  width: 15px;
}
/* Form raiz caja  */
/* CONTENIDO DDE FPRM  */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* MENU  */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 25%;
  width: 100%;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#tapa-caja {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #223645;
}

#caja-pastilla {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #223645;
  padding: 45px;
  border-radius: 35px;
}

.pastilla {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 1s;
}

.pastilla:hover {
  translate: 30px;
}

#tapa-pastilla-start {
  background-color: #ddd;
  border: none;
  color: black;
  width: 80px;
  text-align: center;
  text-decoration: none;
  height: 35px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#tapa-pastilla-end h3 {
  color: #f1f1f1;
}

#tapa-pastilla-end {
  height: 35px;
  width: 80px;
  background-color: #e61f57;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  cursor: pointer;
  transition: 1s;
  position: relative;
  z-index: 5;
  justify-content: flex-start;
  align-items: center;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  width: 80px;
  text-align: center;
  text-decoration: none;
  height: 35px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button:hover {
  background-color: #f1f1f1;
}

#tapa-pastilla:hover {
  translate: 30px;
}

.container-menu {
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #223645;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#caja-menu {
  display: relative;
}

/* select main  */
.s_main {
  margin-left: 15%;
}
.a_main {
  background-color: silver;
  box-shadow: 1px 2px 12px black;
  padding: 10px;
  margin: 30px;
}


/* main  */
.register__contenido--main{
  margin: 0 auto;
}

/* FOOTER */
footer {
  background-color: #223645;
  background-image: linear-gradient(white, #223645);
  color: #fff;
  margin: 16px 0px;
  position: relative;
  padding: 10px;
  bottom: 0;
}
/* LOS PARRAFOS  */
.p1 {
  padding-left: 20%;
}
.p2 {
  padding-left: 40%;
}

.table_multi {
  border-collapse: collapse;
  box-shadow: 2px 3px 20px black;
}

.table_multi tr td {
  background-color: rgb(118, 186, 201);
  font-size: 14px;
  color: white;
}

/* Estilos multiform */

/* table  */
.default,
tr,
td {
  color: black;
}
td {
  font-size: 17px;
}
/* #botonRegistrar{
    display: none;
} */

/* partes */

#part1_1 {
  display: none;
}

#part2 {
  display: none;
}

#part2_1 {
  display: none;
}

#part3 {
  display: none;
}

#part3_1 {
  display: none;
}
/* linea larga de si o no  */

.part_3_1labelsiNo_linea_larga {
  padding-left: 40px;
}
.part_3_labelsiNo_linea_larga_inputs1,
.part_3_labelsiNo_linea_larga_inputs2 {
  padding-left: 60px;
}
.part_3_labelsiNo_linea_larga_inputs3 {
  padding-left: 140px;
}
.part_3_labelsiNo_linea_larga_inputs4 {
  padding-left: 100px;
}
.part_3_labelsiNo_linea_larga_inputs5 {
  padding-left: 120px;
}

#part4 {
  display: none;
}
#part4_1 {
  display: none;
}
#part5 {
  display: none;
}
#part6 {
  display: none;
}
#part7 {
  display: none;
}

#part8 {
  display: none;
}
#part9 {
  display: none;
}
#part10 {
  display: none;
}
#part11 {
  display: none;
}
#part12 {
  display: none;
}
#part13 {
  display: none;
}
#part14 {
  display: none;
}
#part15 {
  display: none;
}

/*BUTTONS*/

/* Button ocult general  */

.buton_oculta {
  display: none;
  margin: 0 auto;
}

#butonFinal {
  display: none;
  margin: 0 auto;
}

/*ANIMACIONES*/
@keyframes slide {
  0% {
    transform: translate(0vw, 100vw);
  }
  100% {
    transform: translate(0vw, 0vw);
  }
}
